includes:
	- phpstan-baseline.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 8
	paths:
		- ../
	excludePaths:
		- views
		- ../cache
		- ../panel/node_modules(?)
		- ../panel/views
		- ../site/templates
		- ../vendor
	scanFiles:
		- ../index.php
	ignoreErrors:
		- '#^Call to an undefined method Formwork\\Data\\CollectionDataProxy\:\:#'
		- '#^Call to an undefined method Formwork\\Fields\\Field\:\:#'
		- '#^Call to an undefined method Formwork\\Pages\\Page\:\:#'
		- '#^Call to an undefined method Formwork\\Cms\\Site\:\:#'
		- '#^Call to an undefined method Formwork\\Users\\User\:\:#'
