.form-input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color-base-500);
    border-radius: $border-radius;
    margin: 0;
    margin-bottom: 0.75rem;
    background-color: var(--color-base-900);
    color: var(--color-base-100);
    font-family: $base-font-family;
    font-size: $font-size-sm;
    line-height: $base-line-height;
    @include appearance-none;

    &:focus {
        border-color: var(--color-accent-500);
        @include focusring;
    }

    &[disabled] {
        background-color: var(--color-base-700);
        color: var(--color-base-300);
    }

    &[readonly] {
        // Safari Mobile bug
        @include user-select-none;
    }
}

.form-input[type="checkbox"],
.form-input[type="radio"] {
    width: auto;
    height: inherit;
    padding: 0;
    margin-bottom: 0;
    vertical-align: text-top;
}

.form-input[type="file"] {
    padding: 0;
    border: none;
    border-radius: 0;

    &::-webkit-file-upload-button {
        appearance: button;
        font: inherit;
    }
}

.form-input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

.form-input[type="search"] {
    &::-webkit-search-cancel-button {
        display: none;
    }
}

.form-select {
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    background: var(--color-base-900) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24'><path fill='#{urlencode-color($color-gray-300)}' d='M0 0h32L16 24z'/></svg>") no-repeat right 0.75rem center;
    background-color: var(--color-base-900);
    background-size: 8px 6px;
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .form-input;

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 var(--color-base-100);
    }
}

.form-textarea {
    overflow: auto;
    min-height: 3 * $font-size-sm * $base-line-height + 0.25rem * 2;
    max-height: 30 * $font-size-sm * $base-line-height + 0.25rem * 2;
    font-size: 1rem;
    resize: vertical;
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .form-input;
}

.form-input-large {
    font-size: $font-size-lg;
}

.form-input-monospace {
    font-family: $mono-font-family;
    font-size: $font-size-sm * 0.875;
}

.form-input-accent {
    border-color: var(--color-accent-500);
}

.form-input-success {
    border-color: var(--color-success-500);
}

.form-input-warning {
    border-color: var(--color-warning-500);
}

.form-input-danger {
    border-color: var(--color-danger-500);
}

.form-input-invalid {
    animation: shake 500ms;
    animation-fill-mode: both;
}

.form-input-wrap {
    position: relative;
    margin-bottom: 0.75rem;
}

.form-input-wrap > .form-input {
    margin-bottom: 0;
}

.form-input-reset {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    color: var(--color-base-100);
    transform: translateY(-50%);
    transition: color $transition-time-sm;

    &:hover {
        color: var(--color-accent-500);
    }

    .form-input:placeholder-shown + &,
    .form-input:placeholder-shown + &:hover {
        color: var(--color-base-400);
    }
}

.form-input-icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    color: var(--color-base-300);
    transform: translateY(-50%);
}

.form-input-wrap .form-input-icon + .form-input {
    padding-left: 1.75rem;
}

.form-input-wrap .form-input:has(+ .form-input-reset) {
    padding-right: 1.625rem;
}

.form-input-description {
    margin-top: -0.5rem;
    margin-bottom: 0.75rem;
    color: var(--color-base-300);
    font-size: $font-size-sm;
}

.form-label {
    display: inline-block;
    margin-bottom: 0.25rem;
    font-size: $font-size-sm;
    @include user-select-none;
    @include appearance-none;
}

.form-label-suggestion {
    color: var(--color-base-300);
    font-size: $font-size-xs;
    line-height: 1;
}

.form-label-required::after {
    display: inline-block;
    margin-left: 0.125rem;
    color: var(--color-danger-500);
    content: "*";
}
