@use "../mixins" as *;
@use "../variables" as *;

.form-input-duration-wrap {
    box-sizing: border-box;
    padding: 0.25rem 0.5rem * 0.5;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-text);
    @include user-select-none;
}

.form-input-duration-wrap.focused {
    border-color: var(--color-accent-500);
}

.form-input-duration-wrap > span {
    text-align: center;
}

.form-input-duration-wrap .form-input {
    width: 2rem;
    padding: 0;
    border: 0;
    margin: 0;
    appearance: textfield;
    background-color: var(--color-base-700);
    text-align: center;
    vertical-align: baseline;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        margin: 0;
        @include appearance-none;
    }
}

.form-input-duration-wrap .form-input:focus {
    outline: none;
}

.form-input-duration-wrap .form-label {
    padding: 0 0.5rem;
    margin: 0;
}

.form-input-wrap .form-input-icon + .form-input-duration-wrap {
    padding-left: 1.75rem;
}
