.form-input-file {
    display: none;
}

.form-input-file-label {
    display: block;
    padding: $form-input-file-label-padding;
    margin-bottom: $form-input-file-label-margin-bottom;
    background-color: $color-base-800;
    clear: both;
}

.form-input-file-label > span {
    display: block;
    padding: $form-input-file-label-inner-padding-v $form-input-file-label-inner-padding-h;
    border: $form-input-file-label-inner-border-width dashed $color-base-500;
    border-radius: $border-radius;
    color: $color-base-100;
    text-align: center;
    transition: background-color $transition-time-m;

    &:hover {
        background-color: $color-base-700;
    }
}

.form-input-file-label.drag > span {
    background-color: $color-base-700;
}
