.form-input[type="range"] {
    --progress: 0;

    position: relative;
    z-index: 1;
    padding: 0.875rem 0;
    border: 0;
    margin-bottom: 0;
    background-color: transparent;
    @include appearance-none;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.375rem;
        border: 0;
        border-radius: 0.375rem * 0.5;
        background: linear-gradient(90deg, var(--color-accent-500) var(--progress), var(--color-base-500) var(--progress));
        background-color: var(--color-base-500);
        cursor: default;
    }

    &::-webkit-slider-thumb {
        width: 1.125rem;
        height: 1.125rem;
        border: 0;
        border-radius: $border-radius-round;
        margin-top: -(1.125rem - 0.375rem) * 0.5;
        background-color: var(--color-accent-500);
        cursor: default;
        transition: background-color $transition-time-sm;
        @include appearance-none;
    }

    &::-moz-range-track {
        width: 100%;
        height: 0.375rem;
        border: 0;
        border-radius: 0.375rem * 0.5;
        background: linear-gradient(90deg, var(--color-accent-500) var(--progress), var(--color-base-500) var(--progress));
        background-color: var(--color-base-500);
    }

    &::-moz-range-thumb {
        width: 1.125rem;
        height: 1.125rem;
        border: 0;
        border-radius: $border-radius-round;
        background-color: var(--color-accent-500);
        cursor: default;
        transition: background-color $transition-time-sm;
        @include appearance-none;
    }

    &:focus {
        outline: none;
    }

    &:hover::-webkit-slider-thumb,
    &:hover::-moz-range-thumb {
        background-color: var(--color-accent-400);
    }

    &[disabled] {
        background-color: transparent;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            background-color: var(--color-base-300);
        }
    }

    &:focus::-webkit-slider-thumb {
        background-color: var(--color-accent-400);
        @include focusring;
    }

    &:focus::-moz-range-thumb {
        background-color: var(--color-accent-400);
        @include focusring;
    }
}

.form-input-range-value {
    min-width: 3rem;
    padding: 0.25rem 0.5rem;
    font-size: $font-size-sm;
    @include user-select-none;
}

.form-input-range {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-input-range-ticks {
    position: absolute;
    right: 0;
    bottom: 0.625rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1.125rem * 0.5;
}

.form-input-range-ticks .tick {
    width: 1px;
    height: 0.375rem;
    background-color: var(--color-base-500);
}
