@use "../mixins" as *;

.form-input-array {
    margin-bottom: 0.5rem;
    @include user-select-none;
}

.form-input-array .sortable-handle .icon {
    vertical-align: middle;
}

.form-input-array-row {
    display: flex;
    padding: 0.25rem 0.5rem;
    margin: 0 (-0.5rem);
    white-space: nowrap;
}

.form-input-array-key,
.form-input-array-value {
    display: inline-block;
    margin-bottom: 0;
}

.form-input-array-key {
    width: 30%;
    margin-right: 0.25rem;
}

.form-input-array-value {
    margin-right: 0.25rem;
}

.form-input-array-add,
.form-input-array-remove {
    min-width: 1rem;
    padding: 0;
    margin-right: 0.25rem;
}
