.form-input-duration {
    box-sizing: border-box;
    padding: $form-input-padding-v $form-input-padding-h * 0.5;
    border: $form-input-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin-top: 0;
    margin-bottom: $form-input-margin-bottom;
    font-size: $form-input-font-size;
    line-height: $form-input-line-height;
    @include user-select-none;
}

.form-input-duration.focused {
    border-color: $color-accent-500;
}

.form-input-duration > span {
    text-align: center;
}

.form-input-duration .form-input {
    width: $form-input-duration-inner-width;
    padding: 0;
    border: 0;
    margin: 0;
    appearance: textfield;
    background-color: $color-base-700;
    text-align: center;
    vertical-align: baseline;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        margin: 0;
        @include appearance-none;
    }
}

.form-input-duration .form-input:focus {
    outline: none;
}

.form-input-duration .form-label {
    padding: 0 $form-input-duration-label-padding-h;
    margin: 0;
}

.form-input-duration-hidden {
    display: none;
}
