.form-input-array {
    margin-bottom: $form-input-array-margin-bottom;
    @include user-select-none;
}

.form-input-array .sortable-handle .icon {
    vertical-align: middle;
}

.form-input-array-row {
    display: flex;
    padding: $form-input-array-row-padding-v $form-input-array-row-padding-h;
    margin: 0 (-$form-input-array-row-padding-h);
    white-space: nowrap;
}

.form-input-array-key,
.form-input-array-value {
    display: inline-block;
    margin-bottom: 0;
}

.form-input-array-key {
    width: $form-input-array-key-width;
    margin-right: $form-input-array-key-margin-right;
}

.form-input-array-value {
    margin-right: $form-input-array-value-margin-right;
}

.form-input-array-add,
.form-input-array-remove {
    min-width: 1rem;
    padding: 0;
    margin-right: $form-input-array-actions-margin-right;
}
