@use "../mixins" as *;
@use "../variables" as *;

.form-togglegroup {
    display: inline-block;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin: 0;
    margin-bottom: 0.75rem;
    background-color: var(--color-base-900);
    font-size: 0;
}

.form-input-wrap .form-togglegroup {
    margin-bottom: 0;
}

.form-togglegroup:focus-within {
    border-color: var(--color-accent-500);
    @include focusring;
}

.form-togglegroup .form-label {
    margin: 0;
}

.form-togglegroup .form-input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.form-togglegroup .form-input[type="radio"] + span {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: calc(var(--border-radius) - 1px);
    font-size: var(--font-size-sm);
    transition:
        background-color var(--transition-time-sm),
        color var(--transition-time-sm);
}

.form-togglegroup .form-input[type="radio"]:hover + span {
    background-color: var(--color-base-800);
}

.form-togglegroup .form-input[type="radio"]:checked + span {
    background-color: var(--color-accent-500);
    color: var(--color-white);
}

.form-togglegroup .form-input[type="radio"]:focus + span {
    background-color: var(--color-accent-400);
}

.form-togglegroup:disabled .form-input[type="radio"] + span {
    background-color: transparent;
    color: var(--color-base-500);
}

.form-togglegroup:disabled .form-input[type="radio"]:checked + span {
    background-color: var(--color-base-700);
}

.form-togglegroup .form-input[type="radio"]:checked:enabled:hover + span {
    background-color: var(--color-accent-400);
}
