input {
    display: inline-block;
    width: 100%;
    padding: $input-padding-v $input-padding-h;
    border: $input-border-width solid $color-base-500;
    border-radius: $input-border-radius;
    margin: 0;
    margin-bottom: $input-margin-bottom;
    background-color: $color-base-900;
    color: $color-base-100;
    font-family: $base-font-family;
    font-size: $input-font-size;
    line-height: $input-line-height;
    @include appearance-none;

    &:focus {
        border-color: $color-accent-500;
        @include focusring;
    }

    &[disabled] {
        background-color: $color-base-700;
        color: $color-base-300;
    }

    &[readonly] {
        // Safari Mobile bug
        @include user-select-none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    height: inherit;
    padding: 0;
    margin-bottom: 0;
    vertical-align: text-top;
}

input[type="file"] {
    padding: 0;
    border: none;
    border-radius: 0;

    &::-webkit-file-upload-button {
        appearance: button;
        font: inherit;
    }
}

input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

input[type="search"] {
    padding-left: $input-search-padding-left;
    background: $color-base-900 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$color-base-300}" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 7a5 5 0 007.965 4.026l.005.004 2.5 2.5a.75.75 0 101.06-1.06l-2.5-2.5-.004-.005A5 5 0 102 7zm1.5 0a3.5 3.5 0 107 0 3.5 3.5 0 00-7 0z" clip-rule="evenodd"/></svg>') no-repeat left 0.5rem top 0.375rem;
    background-size: 1rem 1rem;

    &::-webkit-search-cancel-button {
        display: none;
    }
}

select,
.select {
    padding: $select-padding-h $select-padding-left $select-padding-h $select-padding-right;
    background: $color-base-900 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24'><path fill='#{$color-base-300}' d='M0 0h32L16 24z'/></svg>") no-repeat right 0.75rem center;
    background-color: $color-base-900;
    background-size: 8px 6px;
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend input;

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $color-base-100;
    }
}

textarea {
    overflow: auto;
    min-height: 3 * $input-font-size * $input-line-height + $input-padding-v * 2;
    max-height: 30 * $input-font-size * $input-line-height + $input-padding-v * 2;
    resize: vertical;
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend input;
}

.input-large {
    font-size: $font-size-l;
}

.input-accent {
    border-color: $color-accent-500;
}

.input-success {
    border-color: $color-success-500;
}

.input-warning {
    border-color: $color-warning-500;
}

.input-error {
    border-color: $color-error-500;
}

.input-invalid {
    animation: shake $input-invalid-animation-duration;
    animation-fill-mode: both;
}

.input-wrap {
    position: relative;
    margin-bottom: $input-margin-bottom;
}

.input-wrap input {
    padding-right: $input-wrap-padding-right;
    margin-bottom: 0;
}

.input-reset {
    position: absolute;
    top: 50%;
    right: $input-padding-h;
    color: $color-base-100;
    transform: translateY(-50%);
    transition: color $transition-time-s;

    &:hover {
        color: $color-accent-500;
    }
}

label {
    display: inline-block;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;
    @include user-select-none;
    @include appearance-none;
}

.label-suggestion {
    color: $color-base-300;
    font-size: $font-size-xs;
    line-height: 1;
}

.label-required::after {
    display: inline-block;
    margin-left: $label-required-margin-left;
    color: $color-error-500;
    content: "*";
}
