.input-date {
    cursor: default;
}

.calendar {
    position: absolute;
    z-index: 8;
    top: 100%;
    display: none;
    width: $calendar-width;
    padding: $calendar-padding;
    border: $input-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin: $calendar-margin-top $calendar-margin-h $calendar-margin-bottom;
    background-color: $color-base-900;
    box-shadow: $dropdown-box-shadow;
    color: $color-base-100;
}

.calendar-header {
    margin-bottom: $calendar-padding;
}

.calendar-buttons {
    margin: 0 (-$calendar-padding);
    font-size: 0;
}

.calendar button {
    width: 33.3%;
    padding: $calendar-button-padding-v $calendar-button-padding-h;
    border: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: $color-base-100;
    cursor: pointer;
    font-size: $font-size-s;
    outline: none;
    &:hover {
        color: $color-accent-500;
    }
    &:focus {
        outline: none;
    }
}

.calendar-buttons .currentMonth {
    font-weight: 600;
}

.calendar-table {
    width: 100%;
}

.calendar-table td {
    width: 14%;
    cursor: default;
    text-align: center;
    @include user-select-none;
}

.calendar-time {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.calendar-header-day {
    font-size: $font-size-s;
}

.calendar-day {
    border-radius: $border-radius;
    transition: background-color $transition-time-s, color $transition-time-s;
    &:hover {
        background-color: $color-accent-400;
        color: $color-white;
    }
}

.calendar-day.selected {
    background-color: $color-accent-500;
    color: $color-white;
}

.calendar-prev-month-day,
.calendar-next-month-day {
    color: $color-base-500;
}

.calendar-separator {
    height: 0;
    border-top: $input-border-width solid $color-base-500;
    margin: $calendar-padding (-$calendar-padding);
}
