.form-checkbox {
    position: absolute;
    opacity: 0;
}

.form-checkbox + .form-checkbox-text::before {
    position: relative;
    top: $form-checkbox-top;
    display: inline-block;
    width: $form-checkbox-width;
    height: $form-checkbox-height;
    box-sizing: border-box;
    border: $form-checkbox-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin-right: $form-checkbox-margin-right;
    content: " ";
    transition:
        border-color $transition-time-s,
        background-color $transition-time-s;
}

.form-checkbox + .form-checkbox-text:hover::before,
.form-checkbox[disabled] + .form-checkbox-text::before {
    background-color: $color-base-800;
}

.form-checkbox:checked + .form-checkbox-text::before {
    border-color: $color-accent-500;
    background-color: $color-accent-500;
}

.form-checkbox:focus + .form-checkbox-text::before {
    border-color: $color-accent-500;
    @include focusring;
}

.form-checkbox:checked + .form-checkbox-text:hover::before {
    border-color: $color-accent-400;
    background-color: $color-accent-400;
}

.form-checkbox:checked + .form-checkbox-text::after {
    position: absolute;
    top: $form-checkbox-top;
    left: 0;
    display: block;
    width: $form-checkbox-width;
    height: $form-checkbox-height;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath fill='%23fff' d='M4.727 7.036L8.263 3.5l.707.707L4.727 8.45 2 5.722l.707-.707z'/%3E%3C/svg%3E");
    content: " ";
}

.form-checkbox:checked[disabled] + .form-checkbox-text::before {
    border-color: $color-base-500;
    background-color: $color-base-500;
}

.form-checkbox-label {
    position: relative;
    line-height: $form-input-line-height;
}
