@use "../mixins" as *;
@use "../variables" as *;

.form-input-upload {
    display: none;
}

.form-upload-drop-target {
    display: block;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    background-color: var(--color-base-800);
    clear: both;
    font-size: 0.875rem;
}

.form-upload-drop-target:focus {
    @include focusring;
}

.form-upload-drop-target > span {
    display: block;
    padding: 1.5rem 1rem;
    border: 2px dashed var(--color-base-500);
    border-radius: calc(var(--border-radius) * 0.5);
    color: var(--color-base-100);
    text-align: center;
    transition: background-color var(--transition-time-md);

    &:hover {
        background-color: var(--color-base-700);
    }
}

.form-upload-drop-target.drag > span {
    background-color: var(--color-base-700);
}

.file-size-inline {
    color: var(--color-base-300);
}

.form-upload-drop-target .spinner::before {
    border-color: var(--color-base-500);
    border-top-color: var(--color-accent-500);
    border-right-color: var(--color-accent-500);
}
