.form-input-image {
    cursor: default;
}

.image-picker-thumbnails {
    overflow: auto;
    height: $image-picker-thumbnails-height;
    padding: $image-picker-thumbnails-padding;
    margin-bottom: $image-picker-thumbnails-margin-bottom;
}

.image-picker-thumbnail {
    position: relative;
    display: inline-block;
    width: $image-picker-thumbnail-width;
    height: $image-picker-thumbnail-height;
    box-sizing: border-box;
    padding: $image-picker-thumbnail-padding;
    border: $form-input-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin: $image-picker-thumbnail-margin;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-picker-thumbnail::after {
    position: absolute;
    right: $image-picker-thumbnail-caption-right;
    bottom: $image-picker-thumbnail-caption-bottom;
    left: $image-picker-thumbnail-caption-left;
    display: block;
    padding: $image-picker-thumbnail-caption-padding-v $image-picker-thumbnail-caption-padding-h;
    border-radius: $border-radius;
    background-color: $image-picker-thumbnail-caption-background-color;
    content: attr(data-filename);
    font-size: $font-size-xs;
    text-align: center;
    @include ellipsis;
}

.image-picker-thumbnail.selected {
    border-color: $color-accent-500;
    @include focusring;
}

.image-picker-empty-state {
    margin: $image-picker-empty-state-margin-top $image-picker-empty-state-margin-h $image-picker-empty-state-margin-bottom;
    text-align: center;
}

.image-picker-empty-state-icon {
    color: $color-base-400;
    font-size: $image-picker-empty-state-icon-font-size;
}
