.form-input-date {
    cursor: default;
}

.calendar {
    position: absolute;
    z-index: 8;
    top: 100%;
    display: none;
    width: 18rem;
    padding: 0.5rem;
    border: 1px solid $color-base-500;
    border-radius: $border-radius;
    margin: 3px 1rem 1rem;
    background-color: $color-base-900;
    box-shadow: $box-shadow-md;
    color: $color-base-100;
}

.calendar::after {
    position: absolute;
    content: "";
    inset: 100% 0 -2.5rem;
}

.calendar-header {
    margin-bottom: 0.5rem;
}

.calendar-buttons {
    margin: 0 (-0.5rem);
    font-size: 0;
}

.calendar-buttons button {
    width: 33.3%;
}

.calendar button {
    padding: 0 0.5rem;
    border: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: $color-base-100;
    cursor: pointer;
    font-size: $font-size-sm;
    outline: none;

    &:hover {
        color: $color-accent-500;
    }

    &:focus {
        outline: none;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.calendar-buttons .currentMonth {
    font-weight: 600;
}

.calendar-table {
    width: 100%;
}

.calendar-table td {
    width: 14%;
    cursor: default;
    text-align: center;
    @include user-select-none;
}

.calendar-time {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.calendar-header-day {
    font-size: $font-size-sm;
}

.calendar-day {
    border-radius: $border-radius;
    transition:
        background-color $transition-time-sm,
        color $transition-time-sm;

    &:hover {
        background-color: $color-accent-400;
        color: $color-white;
    }
}

.calendar-day.selected {
    background-color: $color-accent-500;
    color: $color-white;
}

.calendar-prev-month-day,
.calendar-next-month-day {
    color: $color-base-500;
}

.calendar-separator {
    height: 0;
    border-top: 1px solid $color-base-500;
    margin: 0.5rem (-0.5rem);
}
