.input-tag {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: $input-padding-v $input-padding-h * 0.5;
    padding-bottom: 0;
    border: $input-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin-top: 0;
    margin-bottom: $input-margin-bottom;
    font-size: $input-font-size;
    line-height: $input-line-height;
    @include user-select-none;
}

.input-tag.focused {
    border-color: $color-accent-500;
}

.tag-inner-input {
    display: inline-block;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 $input-padding-h * 0.5;
    border: 0;
    border-radius: 0;
    margin-bottom: $input-padding-v;
    font-family: inherit;
    font-size: $font-size-s;
    line-height: inherit;

    &:focus {
        outline: none;
    }
}

.input-tag-hidden {
    display: none;
}

.input-tag .tag {
    display: inline-block;
    box-sizing: border-box;
    padding: $input-tag-tag-padding-v $input-tag-tag-padding-h;
    border-radius: $border-radius;
    margin-bottom: $input-padding-v;
    background-color: $color-base-700;
    cursor: default;
    font-size: $font-size-s;
    @include user-select-none;
}

.input-tag.disabled,
.input-tag.disabled .tag-inner-input {
    background-color: $color-base-800;
}

.input-tag.disabled .tag {
    background-color: $color-base-600;
}

.tag-remove {
    display: inline-block;
    padding: $tag-remove-padding-v $tag-remove-padding-h;
    margin-left: $tag-remove-margin-left;
    color: $color-base-100;
    font-style: normal;
    transition: color $transition-time-s;

    &:hover {
        color: $color-accent-500;
    }
}

.tag-remove::after {
    content: "\00d7";
    font-weight: 600;
}
