@use "../mixins" as *;
@use "../variables" as *;

.form-input-image {
    cursor: default;
}

.image-picker-thumbnails {
    display: flex;
    overflow: auto;
    height: 24rem;
    max-height: 50vh;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.image-picker-thumbnail {
    position: relative;
    width: 10em;
    height: 10rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid var(--color-base-500);
    border-radius: $border-radius;
    margin: 0.25rem;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        background-color: var(--color-base-800);
    }
}

.image-picker-thumbnail::after {
    position: absolute;
    right: 0.75rem;
    bottom: 0.5rem;
    left: 0.75rem;
    display: block;
    padding: 0 0.375rem;
    border-radius: $border-radius;
    background-color: var(--color-tooltip);
    content: attr(data-filename);
    font-size: $font-size-xs;
    text-align: center;
    @include ellipsis;
}

.image-picker-thumbnail.selected {
    border-color: var(--color-accent-500);
    @include focusring;
}

.image-picker-empty-state {
    margin: 3rem auto 4rem;
    text-align: center;
}

.image-picker-empty-state-icon {
    color: var(--color-base-400);
    font-size: 2rem;
}
