@use "../mixins" as *;
@use "../variables" as *;

.form-checkbox {
    position: absolute;
    opacity: 0;
}

.form-checkbox + .form-checkbox-text::before {
    position: relative;
    top: 0.125rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin-right: 0.5rem;
    content: " ";
    transition:
        border-color var(--transition-time-sm),
        background-color var(--transition-time-sm);
}

.form-checkbox + .form-checkbox-text:hover::before,
.form-checkbox:disabled + .form-checkbox-text::before {
    background-color: var(--color-base-800);
}

.form-checkbox:checked + .form-checkbox-text::before {
    border-color: var(--color-accent-500);
    background-color: var(--color-accent-500);
}

.form-checkbox:focus + .form-checkbox-text::before {
    border-color: var(--color-accent-500);
    @include focusring;
}

.form-checkbox:checked + .form-checkbox-text:hover::before {
    border-color: var(--color-accent-400);
    background-color: var(--color-accent-400);
}

.form-checkbox:checked + .form-checkbox-text::after {
    position: absolute;
    top: 0.125rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath fill='%23fff' d='M4.727 7.036L8.263 3.5l.707.707L4.727 8.45 2 5.722l.707-.707z'/%3E%3C/svg%3E");
    content: " ";
}

.form-checkbox:checked:disabled + .form-checkbox-text::before {
    border-color: var(--color-base-500);
    background-color: var(--color-base-500);
}

.form-checkbox-label {
    position: relative;
    margin-bottom: 0.75rem;
    line-height: var(--line-height-text);
}
