.form-input-tag {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem * 0.5;
    padding-bottom: 0;
    border: 1px solid $color-base-500;
    border-radius: $border-radius;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: $font-size-sm;
    line-height: $base-line-height;
    @include user-select-none;
}

.form-input-wrap > .form-input-tag {
    margin-bottom: 0;
}

.form-input-wrap .form-input-icon + .form-input-tag {
    padding-left: 1.5rem;
}

.form-input-tag.focused {
    border-color: $color-accent-500;
}

.tag-inner-input {
    display: inline-block;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem * 0.5;
    border: 0;
    border-radius: 0;
    margin-bottom: 0.25rem;
    font-family: inherit;
    font-size: $font-size-sm;
    line-height: inherit;

    &:focus {
        outline: none;
    }
}

.form-input-tag-hidden {
    display: none;
}

.form-input-tag .tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0.375rem;
    border-radius: $border-radius;
    margin-bottom: 0.25rem;
    background-color: $color-base-700;
    cursor: default;
    font-size: $font-size-sm;
    @include user-select-none;
}

.form-input-tag .tag:first-child {
    margin-left: 0.25rem;
}

.form-input-tag.disabled,
.form-input-tag.disabled .tag-inner-input {
    background-color: $color-base-800;
}

.form-input-tag.disabled .tag {
    background-color: $color-base-600;
}

.tag-remove {
    display: inline-block;
    padding: 0 0.125rem;
    margin-left: 0.25rem;
    color: $color-base-100;
    font-style: normal;
    transition: color $transition-time-sm;

    &:hover {
        color: $color-accent-500;
    }
}

.tag-remove::after {
    content: "\00d7";
    font-weight: 600;
}
