@use "../mixins" as *;
@use "../variables" as *;

.form-input-file {
    display: none;
}

.form-file-drop-target {
    display: block;
    padding: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    background-color: var(--color-base-800);
    clear: both;
    font-size: 0.875rem;
}

.form-file-drop-target:focus {
    @include focusring;
}

.form-file-drop-target > span {
    display: block;
    padding: 1.5rem 1rem;
    border: 2px dashed var(--color-base-500);
    border-radius: $border-radius * 0.5;
    color: var(--color-base-100);
    text-align: center;
    transition: background-color $transition-time-md;

    &:hover {
        background-color: var(--color-base-700);
    }
}

.form-file-drop-target.drag > span {
    background-color: var(--color-base-700);
}
