.form-togglegroup {
    display: inline-block;
    border: 1px solid $color-base-500;
    border-radius: $border-radius;
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 0;
}

.form-input-wrap .form-togglegroup {
    margin-bottom: 0;
}

.form-togglegroup:focus-within {
    border-color: $color-accent-500;
    @include focusring;
}

.form-togglegroup .form-label {
    margin: 0;
}

.form-togglegroup .form-input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.form-togglegroup .form-input[type="radio"] + span {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: $border-radius - 1px;
    font-size: $font-size-sm;
    transition:
        background-color $transition-time-sm,
        color $transition-time-sm;
}

.form-togglegroup .form-input[type="radio"]:hover + span {
    background-color: $color-base-800;
}

.form-togglegroup .form-input[type="radio"]:checked + span {
    background-color: $color-accent-500;
    color: $color-white;
}

.form-togglegroup .form-input[type="radio"]:focus + span {
    background-color: $color-accent-400;
}

.form-togglegroup[disabled] .form-input[type="radio"] + span {
    background-color: transparent;
    color: $color-base-100;
}

.form-togglegroup[disabled] .form-input[type="radio"]:checked + span {
    background-color: $color-base-600;
}

.form-togglegroup .form-input[type="radio"]:checked:hover + span {
    background-color: $color-accent-400;
}
