.input-duration {
    box-sizing: border-box;
    padding: $input-padding-v $input-padding-h * 0.5;
    border: $input-border-width solid $color-base-500;
    border-radius: $border-radius;
    margin-top: 0;
    margin-bottom: $input-margin-bottom;
    font-size: $input-font-size;
    line-height: $input-line-height;
    @include user-select-none;
}

.input-duration.focused {
    border-color: $color-accent-500;
}

.input-duration > span {
    text-align: center;
}

.input-duration input {
    width: $input-duration-inner-width;
    padding: 0;
    border: 0;
    margin: 0;
    -moz-appearance: textfield;
    background-color: $color-base-700;
    text-align: center;
    vertical-align: baseline;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        margin: 0;
        @include appearance-none;
    }
}

.input-duration input:focus {
    outline: none;
}

.input-duration label {
    padding: 0 $input-duration-label-padding-h;
    margin: 0;
}

.input-duration-hidden {
    display: none;
}
