.form-input-file {
    display: none;
}

.form-input-file-label {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: $color-base-800;
    clear: both;
    font-size: 0.875rem;
}

.form-input-file-label > span {
    display: block;
    padding: 1.5rem 1rem;
    border: 2px dashed $color-base-500;
    border-radius: $border-radius;
    color: $color-base-100;
    text-align: center;
    transition: background-color $transition-time-md;

    &:hover {
        background-color: $color-base-700;
    }
}

.form-input-file-label.drag > span {
    background-color: $color-base-700;
}
