# git
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore

# github
.github/ export-ignore

# vscode
.vscode/ export-ignore

# configs
.editorconfig export-ignore
formwork/.php-cs-fixer.php export-ignore
formwork/.rector.php export-ignore
formwork/phpstan-baseline.neon export-ignore
formwork/phpstan.neon export-ignore

# panel
panel/.prettierrc export-ignore
panel/.stylelintrc.yaml export-ignore
panel/.yarnrc.yml export-ignore
panel/eslint.config.js export-ignore
panel/package.json export-ignore
panel/src export-ignore
panel/tsconfig.json export-ignore
panel/yarn.lock export-ignore
