.DS_Store
.php-cs-fixer.cache

/backup/*
/cache/*
/logs/*
/vendor/*
/docs/
/panel/assets/css/*
/panel/assets/js/*
/panel/logs/*
/panel/node_modules/*
/panel/package-lock.json

/site/config/plugins.yaml
/site/plugins/*
/site/statistics/*
/site/users/accounts/*
/site/users/images/*

!.gitkeep
