.DS_Store
.php-cs-fixer.cache

/assets/*
/backup/*
/cache/*
/logs/*
/vendor/*

/panel/assets/css/*
/panel/assets/js/*
/panel/logs/*
/panel/node_modules/*

/site/auth/*
/site/config/plugins/*
/site/plugins/*
/site/sessions/*
/site/statistics/*
/site/users/accounts/*
/site/users/images/*

!.gitkeep
