AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    ## Enable rewrite rules
    RewriteEngine on

    ## Prevent direct access to Formwork folders
    ## but allow access to template assets
    RewriteRule ^templates/assets/.* - [L]
    RewriteRule ^(backup|cache|config|formwork|templates|vendor)/.* index.php [L]

    RewriteRule ^(.*)\.(md|yml|json)/?$ index.php [L]
    RewriteRule ^(\.(.*)|LICENSE|composer\.lock)/?$ index.php [L]

    RewriteRule ^admin/(accounts|logs|schemes|src|translations|views)/.* index.php [L]
    RewriteRule ^admin/(\.(.*)|rollup\.config\.js)/?$ index.php [L]

    ## Let all URI be processed by index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^.* index.php
</IfModule>
