includes:
	- phpstan-baseline.neon
parameters:
	level: 8
	paths:
		- formwork/src
	scanFiles:
		- index.php
	ignoreErrors:
		- '#^Call to an undefined method Formwork\\Data\\CollectionDataProxy\:\:#'
		- '#^Call to an undefined method Formwork\\Pages\\Page\:\:#'
		- '#^Call to an undefined method Formwork\\Pages\\Site\:\:#'
