<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    cacheDirectory=".phpunit.cache"
    executionOrder="defects"
    requireCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnPhpunitDeprecation="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./formwork/src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./formwork/src/Images/Exif/tables</directory>
            <directory suffix=".php">./formwork/src/Utils/scripts</directory>
        </exclude>
    </source>

    <coverage ignoreDeprecatedCodeUnits="true" />
</phpunit>
