@font-face {
    font-family: 'Icons';
    src: url('../icons/icons.eot');
    src: url('../icons/icons.eot#iefix') format('embedded-opentype'),
         url('../icons/icons.woff2') format('woff2'),
         url('../icons/icons.woff') format('woff'),
         url('../icons/icons.ttf') format('truetype'),
         url('../icons/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='i-']::before,
[class*=' i-']::before {
      display: inline-block;
      width: 1.25em;
      text-decoration: inherit;
      text-transform: none;
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
      font-family: 'Icons';
      line-height: 1em;
}

.i-align-center::before { content: '\f29a'; }
.i-align-left::before { content: '\f29b'; }
.i-align-justify::before { content: '\f29c'; }
.i-align-right::before { content: '\f29d'; }
.i-archive::before { content: '\f29e'; }
.i-arrow-down::before { content: '\f29f'; }
.i-arrow-left::before { content: '\f2a0'; }
.i-arrow-right::before { content: '\f2a1'; }
.i-arrow-up::before { content: '\f2a2'; }
.i-at::before { content: '\f2a3'; }
.i-bars::before { content: '\f2a4'; }
.i-bell::before { content: '\f2a5'; }
.i-bold::before { content: '\f2a6'; }
.i-bolt::before { content: '\f2a7'; }
.i-book::before { content: '\f2a8'; }
.i-box-open::before { content: '\f2a9'; }
.i-box::before { content: '\f2aa'; }
.i-boxes::before { content: '\f2ab'; }
.i-briefcase::before { content: '\f2ac'; }
.i-calendar::before { content: '\f2ad'; }
.i-chart-area::before { content: '\f2ae'; }
.i-chart-bar::before { content: '\f2af'; }
.i-check-circle::before { content: '\f2b0'; }
.i-check-double::before { content: '\f2b1'; }
.i-check::before { content: '\f2b2'; }
.i-chevron-down::before { content: '\f2b3'; }
.i-chevron-right::before { content: '\f2b4'; }
.i-chevron-left::before { content: '\f2b5'; }
.i-chevron-up::before { content: '\f2b6'; }
.i-circle-open::before { content: '\f2b7'; }
.i-circle::before { content: '\f2b8'; }
.i-clipboard::before { content: '\f2b9'; }
.i-cloud-download::before { content: '\f2ba'; }
.i-cloud-upload::before { content: '\f2bb'; }
.i-code::before { content: '\f2bc'; }
.i-cog::before { content: '\f2bd'; }
.i-comment::before { content: '\f2be'; }
.i-cookie-bite::before { content: '\f2bf'; }
.i-cookie::before { content: '\f2c0'; }
.i-copy::before { content: '\f2c1'; }
.i-crop::before { content: '\f2c2'; }
.i-cut::before { content: '\f2c3'; }
.i-database::before { content: '\f2c4'; }
.i-download::before { content: '\f2c5'; }
.i-edit::before { content: '\f2c6'; }
.i-ellipsis-v::before { content: '\f2c7'; }
.i-ellipsis::before { content: '\f2c8'; }
.i-envelope::before { content: '\f2c9'; }
.i-error-circle::before { content: '\f2ca'; }
.i-exclamation-triangle::before { content: '\f2cb'; }
.i-exclamation::before { content: '\f2cc'; }
.i-external-link-square::before { content: '\f2cd'; }
.i-external-link::before { content: '\f2ce'; }
.i-eye-slash::before { content: '\f2cf'; }
.i-eye::before { content: '\f2d0'; }
.i-file-archive::before { content: '\f2d1'; }
.i-file-audio::before { content: '\f2d2'; }
.i-file-code::before { content: '\f2d3'; }
.i-file-image::before { content: '\f2d4'; }
.i-file-pdf::before { content: '\f2d5'; }
.i-file-text::before { content: '\f2d6'; }
.i-file-video::before { content: '\f2d7'; }
.i-file::before { content: '\f2d8'; }
.i-folder-open::before { content: '\f2d9'; }
.i-folder::before { content: '\f2da'; }
.i-font::before { content: '\f2db'; }
.i-hashtag::before { content: '\f2dc'; }
.i-heading::before { content: '\f2dd'; }
.i-history::before { content: '\f2de'; }
.i-home::before { content: '\f2df'; }
.i-image::before { content: '\f2e0'; }
.i-images::before { content: '\f2e1'; }
.i-info-circle::before { content: '\f2e2'; }
.i-info::before { content: '\f2e3'; }
.i-italic::before { content: '\f2e4'; }
.i-language::before { content: '\f2e5'; }
.i-link::before { content: '\f2e6'; }
.i-list-ol::before { content: '\f2e7'; }
.i-list-ul::before { content: '\f2e8'; }
.i-list::before { content: '\f2e9'; }
.i-location-arrow::before { content: '\f2ea'; }
.i-lock::before { content: '\f2eb'; }
.i-markdown::before { content: '\f2ec'; }
.i-microchip::before { content: '\f2ed'; }
.i-minus-circle::before { content: '\f2ee'; }
.i-mobile::before { content: '\f2ef'; }
.i-paste::before { content: '\f2f0'; }
.i-pencil::before { content: '\f2f1'; }
.i-plus-circle::before { content: '\f2f2'; }
.i-question-circle::before { content: '\f2f3'; }
.i-quote::before { content: '\f2f4'; }
.i-read-more::before { content: '\f2f5'; }
.i-redo::before { content: '\f2f6'; }
.i-rss::before { content: '\f2f7'; }
.i-search-plus::before { content: '\f2f8'; }
.i-search::before { content: '\f2f9'; }
.i-search-minus::before { content: '\f2fa'; }
.i-stopwatch::before { content: '\f2fb'; }
.i-sync::before { content: '\f2fc'; }
.i-table::before { content: '\f2fd'; }
.i-tablet::before { content: '\f2fe'; }
.i-tag::before { content: '\f2ff'; }
.i-tags::before { content: '\f300'; }
.i-tasks::before { content: '\f301'; }
.i-times-circle::before { content: '\f302'; }
.i-times::before { content: '\f303'; }
.i-trash::before { content: '\f304'; }
.i-underline::before { content: '\f305'; }
.i-undo::before { content: '\f306'; }
.i-user-circle::before { content: '\f307'; }
.i-user::before { content: '\f308'; }
.i-users::before { content: '\f309'; }
