.title-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    padding: $title-bar-padding;
    padding-left: $title-bar-padding-left + $toggle-navigation-width + 2 * $toggle-navigation-left;
    background-color: $color-gray-xlight;
    box-shadow: $component-box-shadow;
    color: $color-gray-xxdark;
    @include user-select-none;
    @include ellipsis;
    @media (min-width: map-get($responsive-breakpoints, 's')) {
        left: $sidebar-width;
        padding-left: $title-bar-padding-left;
    }
}

.panel-title {
    float: left;
}

.view-site {
    float: right;
    color: $color-gray-xxdark;
    &:hover {
        color: $color-accent;
    }
}

.view-site i {
    margin-left: 0.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    padding: $sidebar-padding-h $sidebar-padding-v;
    width: $sidebar-width;
    background: $sidebar-background-gradient;
    background-color: $sidebar-background-gradient-color-0;
    box-shadow: $sidebar-box-shadow;
}

.sidebar.show {
    display: block;
}

.sidebar-wrapper {
    overflow-y: auto;
    height: calc(100% - 9rem);
}

.toggle-navigation {
    position: fixed;
    top: $toggle-navigation-top;
    left: $toggle-navigation-left;
    z-index: 10;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: $font-size-m;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        box-shadow: none;
        color: $color-accent;
    }
    &:focus {
        box-shadow: none;
    }
}

.logo {
    margin-bottom: $logo-margin-bottom;
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: $logo-font-size;
    line-height: $logo-line-height;
    @include user-select-none;
    @media (min-width: map-get($responsive-breakpoints, 's')) {
        text-align: left;
    }
}

.logo a,
.logo a:hover {
    color: #000;
}

.sidebar-navigation {
    margin: 0;
    margin-bottom: $sidebar-navigation-margin-bottom;
    padding: 0;
    list-style-type: none;
    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar-navigation > li {
    position: relative;
    margin: 0;
    margin-bottom: $sidebar-navigation-li-margin-bottom;
    padding: $sidebar-navigation-li-padding-v $sidebar-navigation-li-padding-h;
    padding-left: $sidebar-navigation-li-padding-left;
}

.sidebar-navigation > li a {
    color: #000;
}

.sidebar-navigation > li.active {
    font-weight: 600;
}

.sidebar-navigation > li.active::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-navigation-notch-width;
    background-color: $color-accent;
    content: ' ';
}

.admin-user-card {
    display: table;
    margin-bottom: $admin-user-card-margin-bottom;
    table-layout: fixed;
    cursor: pointer;
    &:hover img {
        box-shadow: $color-gray-light 0 0 0 0.5rem;
    }
}

.admin-user-avatar {
    display: table-cell;
    width: $admin-user-avatar-width;
    vertical-align: middle;
}

.admin-user-avatar img {
    width: $admin-user-avatar-width;
    border-radius: $border-radius-round;
    transition: box-shadow $transition-time-m ease-out;
}

.admin-user-details {
    display: table-cell;
    padding: $admin-user-details-padding-v $admin-user-details-padding-h;
    vertical-align: middle;
}

.admin-user-fullname {
    color: #000;
}

.admin-user-username {
    color: $color-gray-dark;
    font-size: $font-size-s;
}

.main {
    margin-top: $main-margin-top;
    @media (min-width: map-get($responsive-breakpoints, 's')) {
        margin: $main-margin;
        margin-top: $main-margin-top;
        margin-left: $main-margin-left;
    }
}

.component {
    overflow: auto;
    margin-bottom: $component-margin-bottom;
    padding: $component-padding;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: $component-box-shadow;
}

.caption {
    margin-bottom: $caption-margin-bottom;
    text-transform: uppercase;
    letter-spacing: $caption-letter-spacing;
    font-weight: 600;
    font-size: $caption-font-size;
    @include user-select-none;
}

.separator {
    height: $separator-height;
}

.separator-l {
    height: $separator-height-l;
}

.section-header {
    margin-bottom: $section-header-margin-bottom;
    padding: $section-header-padding-v $section-header-padding-h;
    border-bottom: 1px solid $color-gray-light;
    font-weight: 600;
    font-size: $font-size-m;
    @include user-select-none;
}
