@use 'sass:map';

.title-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 8;
    padding: $title-bar-padding;
    padding-left: $title-bar-padding-left + $toggle-navigation-width + 2 * $toggle-navigation-left;
    background-color: $color-base-700;
    box-shadow: $component-box-shadow;
    color: $color-base-100;
    @include user-select-none;
    @include ellipsis;
    @media (min-width: map.get($responsive-breakpoints, 's')) {
        left: $sidebar-width;
        padding-left: $title-bar-padding-left;
    }
}

.panel-title {
    float: left;
}

.view-site {
    float: right;
    color: $color-base-100;
    &:hover {
        color: $color-accent-500;
    }
}

.view-site i {
    margin-left: 0.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: $sidebar-padding-h $sidebar-padding-v;
    width: $sidebar-width;
    background: $sidebar-background-gradient;
    background-color: $sidebar-background-gradient-color-0;
    box-shadow: $component-box-shadow;
    @include user-select-none;
}

.sidebar.show {
    display: block;
}

.sidebar-wrapper {
    overflow-y: auto;
    height: calc(100% - 9rem);
}

.toggle-navigation {
    position: fixed;
    top: $toggle-navigation-top;
    left: $toggle-navigation-left;
    z-index: 12;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: $font-size-m;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        box-shadow: none;
        color: $color-accent-500;
    }
    &:focus {
        background-color: transparent;
        box-shadow: none;
    }
}

.logo {
    margin-bottom: $logo-margin-bottom;
    color: $color-base-100;
    text-align: center;
    font-weight: 600;
    font-size: $logo-font-size;
    line-height: $logo-line-height;
    @media (min-width: map.get($responsive-breakpoints, 's')) {
        text-align: left;
    }
}

.logo img {
    margin-right: $logo-image-margin-right;
    height: $logo-image-height;
    vertical-align: $logo-image-vertical-align;
}

.logo a {
    padding-top: $focusring-width;
    color: $color-base-100;
}

.sidebar-navigation {
    margin: 0;
    margin-bottom: $sidebar-navigation-margin-bottom;
    padding: 0;
    list-style-type: none;
    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar-navigation > li {
    position: relative;
    margin: 0;
    margin-bottom: $sidebar-navigation-li-margin-bottom;
    padding: $sidebar-navigation-li-padding-v $sidebar-navigation-li-padding-h;
    padding-left: $sidebar-navigation-li-padding-left;
}

.sidebar-navigation > li a {
    color: $color-base-100;
}

.sidebar-navigation > li.active {
    font-weight: 600;
}

.sidebar-navigation > li.active::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-navigation-notch-width;
    background-color: $color-accent-500;
    content: ' ';
}

.admin-user-card {
    display: flex;
    align-items: center;
    margin-bottom: $admin-user-card-margin-bottom;
    cursor: pointer;
    &:hover img {
        box-shadow: 0 0 0 0.5rem $color-base-600;
    }
}

.admin-user-avatar {
    width: $admin-user-avatar-width;
}

// stylelint-disable-next-line no-descending-specificity
.admin-user-avatar img {
    width: $admin-user-avatar-width;
    border-radius: $border-radius-round;
    transition: box-shadow $transition-time-m ease-out;
}

.admin-user-details {
    padding: $admin-user-details-padding-v $admin-user-details-padding-h;
}

.admin-user-fullname {
    color: $color-base-100;
}

.admin-user-username {
    color: $color-base-300;
    font-size: $font-size-s;
}

.main {
    margin-top: $main-margin-top;
    @media (min-width: map.get($responsive-breakpoints, 's')) {
        margin: $main-margin;
        margin-top: $main-margin-top;
        margin-left: $main-margin-left;
    }
}

.component {
    margin-bottom: $component-margin-bottom;
    padding: $component-padding;
    border-radius: $border-radius;
    background-color: $color-base-900;
    box-shadow: $component-box-shadow;
    @include clearfix;
}

.caption {
    margin-bottom: $caption-margin-bottom;
    text-transform: uppercase;
    letter-spacing: $caption-letter-spacing;
    font-weight: 600;
    font-size: $caption-font-size;
    @include user-select-none;
}

.separator {
    height: $separator-height;
}

.separator-l {
    height: $separator-height-l;
}

.section-header {
    margin-bottom: $section-header-margin-bottom;
    padding: $section-header-padding-v $section-header-padding-h;
    border-bottom: 1px solid $color-base-600;
    font-weight: 600;
    font-size: $font-size-m;
    @include user-select-none;
}

.sort-handle {
    margin-right: $sort-handle-margin-right;
    margin-bottom: 0;
    width: $sort-handle-width;
    cursor: grab;
}

.sort-handle::before {
    color: $color-base-400;
    font-size: $font-size-xs;
    cursor: inherit;
    @include icon(bars);
}

.sortable-chosen,
.sortable-ghost {
    background-color: $color-base-900;
    cursor: grabbing;
}

.sortable-chosen * {
    cursor: grabbing;
}

.sortable-fallback {
    box-shadow: $sortable-fallback-box-shadow;
}
