html {
    font-size: $base-font-size;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $color-gray-xxlight;
    font-size: $font-size-m;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

* {
    box-sizing: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

main {
    display: block;
}

a {
    outline: none;
    background-color: transparent;
    color: $color-accent;
    text-decoration: none;
    transition: color $transition-time-s;
    &:hover {
        color: $color-accent-xdark;
    }
    &:not([href]) {
        cursor: default;
    }
}

img {
    max-width: 100%;
    border-style: none;
}

button {
    -webkit-appearance: button;
    &::-moz-focus-inner {
        padding: 0;
        border: none;
    }
}

[hidden] {
    display: none;
}

.focused {
    box-shadow: $focus-box-shadow;
}

@each $breakpoint-name in map-keys($responsive-breakpoints) {
    @media (min-width: map-get($responsive-breakpoints, $breakpoint-name)) {
        .hide-from-#{$breakpoint-name} {
            display: none;
        }
    }
    @media (max-width: map-get($responsive-breakpoints, $breakpoint-name)) {
        .show-from-#{$breakpoint-name} {
            display: none;
        }
    }
}
