button,
.button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-right: $button-margin-h;
    margin-bottom: $button-margin-bottom;
    padding: $button-padding-v $button-padding-h;
    min-width: $button-min-width;
    outline: none;
    border: $button-border-width solid $color-gray-xlight;
    border-radius: $button-border-radius;
    background-color: $color-gray-xlight;
    color: $color-gray-xxdark;
    vertical-align: middle;
    white-space: nowrap;
    font-size: $button-font-size;
    font-family: $base-font-family;
    line-height: $button-line-height;
    cursor: default;
    transition: border-color $transition-time-s, background-color $transition-time-s, color $transition-time-s;
    @include user-select-none;
    &:hover {
        border-color: $color-gray-light;
        background-color: $color-gray-light;
        color: $color-gray-xxdark;
    }
    &:focus {
        @extend .focused;
    }
    &[disabled],
    &[disabled]:hover {
        border-color: $color-gray-xxlight;
        background-color: $color-gray-xxlight;
        color: $color-gray;
        pointer-events: none;
    }
}

a.button {
    text-align: center;
}

.button-right {
    float: right;
    margin-right: 0;
    margin-left: $button-margin-h;
}

.button-accent {
    border: 1px solid $color-accent;
    background-color: $color-accent;
    color: #fff;
    &:hover,
    &:focus {
        border-color: $color-accent-dark;
        background-color: $color-accent-dark;
        color: #fff;
    }
}

.button-success {
    border: 1px solid $color-success;
    background-color: $color-success;
    color: #fff;
    &:hover,
    &:focus {
        border-color: $color-success-dark;
        background-color: $color-success-dark;
        color: #fff;
    }
}

.button-warning {
    border: 1px solid $color-warning;
    background-color: $color-warning;
    color: #fff;
    &:hover,
    &:focus {
        border-color: $color-warning-dark;
        background-color: $color-warning-dark;
        color: #fff;
    }
}

.button-error {
    border: 1px solid $color-error;
    background-color: $color-error;
    color: #fff;
    &:hover,
    &:focus {
        border-color: $color-error-dark;
        background-color: $color-error-dark;
        color: #fff;
    }
}

.button-link {
    margin: 0;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $color-accent;
    }
    &:focus {
        box-shadow: none;
    }
    &[disabled],
    &[disabled]:hover {
        background-color: transparent;
        cursor: default;
    }
}
