.CodeMirror {
    position: relative;
    overflow: hidden;
    height: 300px;
    background: #fff;
    color: #000;
    font-family: monospace;
    direction: ltr;
}

.CodeMirror-lines {
    padding: 4px 0;
    min-height: 1px;
    cursor: text;
}

.CodeMirror pre {
    position: relative;
    z-index: 2;
    overflow: visible;
    margin: 0;
    padding: 0 4px;
    border-width: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    white-space: pre;
    word-wrap: normal;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: #fff;
}

.CodeMirror-gutters {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 100%;
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    color: #999;
    text-align: right;
    white-space: nowrap;
}

.CodeMirror-guttermarker {
    color: #000;
}

.CodeMirror-guttermarker-subtle {
    color: #999;
}

.CodeMirror-cursor {
    position: absolute;
    width: 0;
    border-right: none;
    border-left: 1px solid #000;
    pointer-events: none;
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid #c0c0c0;
}

div.CodeMirror-cursors {
    position: relative;
    z-index: 3;
    visibility: hidden;
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.5);
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    background-color: #7e7;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit;
}

.CodeMirror-rulers {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -20px;
    left: 0;
    overflow: hidden;
}

.CodeMirror-ruler {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.cm-negative {
    color: #d44;
}

.cm-positive {
    color: #292;
}

.cm-header, .cm-strong {
    font-weight: bold;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-invalidchar {
    color: #f00;
}

.CodeMirror-composing {
    border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #a22;
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
    background: #e8f2ff;
}

.CodeMirror-scroll {
    position: relative;
    overflow: scroll !important;
    margin-right: -30px;
    margin-bottom: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none;
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
}

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}

.CodeMirror-gutter-filler {
    bottom: 0;
    left: 0;
}

.CodeMirror-gutter {
    display: inline-block;
    margin-bottom: -30px;
    height: 100%;
    vertical-align: top;
    white-space: normal;
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    border: none !important;
    background: none !important;
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.CodeMirror-gutter-elt {
    position: absolute;
    z-index: 4;
    cursor: default;
}

.CodeMirror-gutter-wrapper ::selection {
    background-color: transparent;
}

.CodeMirror-gutter-wrapper ::-moz-selection {
    background-color: transparent;
}

.CodeMirror-wrap pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
}

.CodeMirror-linebackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    padding: 0.1px;
}

.CodeMirror-rtl pre {
    direction: rtl;
}

.CodeMirror-code {
    outline: none;
}

.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
}

.CodeMirror-measure pre {
    position: static;
}

div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected {
    background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0;
}

.CodeMirror-crosshair {
    cursor: crosshair;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: #d7d4f0;
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: #d7d4f0;
}

.cm-searching {
    background-color: #ffa;
    background-color: rgba(255, 255, 0, 0.4);
}

.cm-force-border {
    padding-right: 0.1px;
}

@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}

.cm-tab-wrap-hack::after {
    content: '';
}

span.CodeMirror-selectedtext {
    background: none;
}
