@use 'sass:map';

@use 'sass:math';

.container,
.container-full,
.container-no-margin {
    margin: 0 auto;
    padding: 0 math.div($columns-gutter, 2);
}

.container {
    max-width: map.get($responsive-breakpoints, 'l');
}

.container-no-margin {
    padding-right: 0;
    padding-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 math.div($columns-gutter, -2);
}

@media (max-width: map.get($responsive-breakpoints, 's')) {
    .container-no-margin .row {
        margin: 0;
    }

    .container-no-margin div[class^=col-] {
        padding: 0;
    }
}

@include make-columns-globals($columns-count, $responsive-breakpoints);

@include make-breakpoint-columns($columns-count, 'xs');

@media (min-width: map.get($responsive-breakpoints, 's')) {
    @include make-breakpoint-columns($columns-count, 's');
}

@media (min-width: map.get($responsive-breakpoints, 'm')) {
    @include make-breakpoint-columns($columns-count, 'm');
}

@media (min-width: map.get($responsive-breakpoints, 'l')) {
    @include make-breakpoint-columns($columns-count, 'l');
}
