// ===
// Dark color scheme overrides
// ===
$color-base-100: hsl(208deg, 5%, 95%);
$color-base-200: hsl(208deg, 5%, 78%);
$color-base-300: hsl(208deg, 5%, 61%);
$color-base-400: hsl(208deg, 5%, 51%);
$color-base-500: hsl(208deg, 5%, 31%);
$color-base-600: hsl(208deg, 5%, 21%);
$color-base-700: hsl(208deg, 5%, 17%);
$color-base-800: hsl(208deg, 5%, 13%);
$color-base-900: hsl(208deg, 5%, 10%);
