.date-input {
    position: relative;
    cursor: default;
}

.calendar {
    position: absolute;
    top: 100%;
    z-index: 4;
    display: none;
    margin: $calendar-margin-top $calendar-margin-h $calendar-margin-bottom;
    padding: $calendar-padding;
    width: $calendar-width;
    border: 1px solid $color-gray;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: $calendar-box-shadow;
    color: $color-gray-xxdark;
}

.calendar-header {
    margin-bottom: $calendar-padding;
}

.calendar-buttons {
    margin: 0 (-$calendar-padding);
    font-size: 0;
}

.calendar-buttons button {
    margin: 0;
    padding: $calendar-button-padding-v $calendar-button-padding-h;
    width: 33.3%;
    outline: none;
    border: 0;
    background-color: transparent;
    color: $color-gray-xxdark;
    font-size: $font-size-s;
    cursor: pointer;
    &:hover {
        color: $color-accent;
    }
    &:focus {
        box-shadow: none;
    }
}

.calendar-table {
    width: 100%;
}

.calendar-table td {
    width: 14%;
    text-align: center;
    cursor: default;
    @include user-select-none;
}

.calendar-header-day {
    font-size: $font-size-s;
}

.calendar-day {
    border-radius: $border-radius;
    transition: background-color $transition-time-s, color $transition-time-s;
    &:hover {
        background-color: $color-accent-dark;
        color: #fff;
    }
}

.calendar-day.selected {
    background-color: $color-accent;
    color: #fff;
}

.calendar-prev-month-day,
.calendar-next-month-day {
    color: $color-gray-dark;
}

.calendar-separator {
    margin: $calendar-padding (-$calendar-padding);
    height: 0;
    border-top: 1px solid $color-gray;
}
