@import '../vendor/codemirror';

.editor-toolbar {
    padding: $editor-toolbar-padding-v $editor-toolbar-padding-h;
    border: 1px solid $color-base-500;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $color-base-800;
    font-size: 0;
}

.toolbar-button {
    margin-bottom: 0;
    padding: $editor-toolbar-button-padding;
    border: 0;
    background-color: $color-base-800;
    &:hover,
    &:focus {
        background-color: transparent;
        color: $color-accent-500;
    }
    &:focus {
        @include focusring;
    }
}

.editor-textarea {
    margin-bottom: $editor-textarea-margin-bottom;
    padding: $editor-textarea-padding-v $editor-textarea-padding-h;
    min-height: 15 * $font-size-m * $base-line-height + $editor-textarea-padding-v * 2;
    border: $input-border-width solid $color-base-500;
    border-radius: $input-border-radius;
    font-size: $font-size-m;
    font-family: $base-font-family;
    &:focus {
        box-shadow: none;
    }
}

.CodeMirror {
    margin-bottom: $editor-textarea-margin-bottom;
    padding: 0 $editor-textarea-padding-h;
    min-height: 15 * $font-size-m * $base-line-height + $editor-textarea-padding-v * 2;
    border: $input-border-width solid $color-base-500;
    border-radius: $input-border-radius;
    background: $color-base-900;
    color: $color-base-100;
    font-size: $font-size-m;
    font-family: $base-font-family;
}

.CodeMirror-lines {
    padding: $editor-textarea-padding-v 0;
}

.CodeMirror-lines pre {
    padding: 0;
}

.editor-toolbar + .editor-textarea,
.editor-textarea + .CodeMirror {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.CodeMirror-cursor {
    border-left-color: $color-base-100;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler {
    background-color: inherit;
}

.CodeMirror-selected {
    background: transparent;
}

.CodeMirror-focused .CodeMirror-selected {
    background: $selection-background-color;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: $selection-background-color;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
    background: $selection-background-color;
}

.cm-s-formwork .cm-header-1 {
    font-size: 1.75rem;
}

.cm-s-formwork .cm-header-2 {
    font-size: 1.5rem;
}

.cm-s-formwork .cm-header-3 {
    font-size: 1.25rem;
}

.cm-s-formwork .cm-comment {
    font-size: 0.875rem;
    font-family: $mono-font-family;
}

.cm-s-formwork .cm-comment.cm-header-1 {
    font-size: 1.75rem * 0.875;
}

.cm-s-formwork .cm-comment.cm-header-2 {
    font-size: 1.5rem * 0.875;
}

.cm-s-formwork .cm-comment.cm-header-3 {
    font-size: 1.25rem * 0.875;
}

.cm-s-formwork .cm-quote {
    color: $color-base-300;
}

.cm-s-formwork .cm-link {
    color: $color-accent-500;
    text-decoration: underline;
}

.cm-s-formwork .cm-url,
.cm-s-formwork .cm-image-marker {
    color: $color-accent-500;
}

.cm-s-formwork .cm-hr {
    color: $color-base-300;
}

.cm-s-formwork .cm-tag {
    color: $color-green-400;
}

.cm-s-formwork .cm-bracket {
    color: $color-base-100;
}

.cm-s-formwork .cm-attribute {
    color: $color-purple-600;
}

.cm-s-formwork .cm-bracket,
.cm-s-formwork .cm-m-xml {
    font-size: 0.875rem;
    font-family: $mono-font-family;
}
