.editor-toolbar {
    padding: $editor-toolbar-padding-v $editor-toolbar-padding-h;
    border: 1px solid $color-gray;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $color-gray-xxlight;
    font-size: 0;
}

.toolbar-button {
    margin-bottom: 0;
    padding: $editor-toolbar-button-padding;
    border: 0;
    border-radius: 0;
    background-color: $color-gray-xxlight;
    &:hover {
        background-color: $color-gray-xlight;
    }
    &:focus {
        box-shadow: none;
    }
}

.editor-textarea {
    margin-bottom: $editor-textarea-margin-bottom;
    padding: $editor-textarea-padding-v $editor-textarea-padding-h;
    min-height: 16 * $font-size-s * $base-line-height + $editor-textarea-padding-v * 2;
    max-height: 20 * $font-size-s * $base-line-height + $editor-textarea-padding-v * 2;
    font-size: $font-size-s;
    font-family: $mono-font-family;
    &:focus {
        box-shadow: none;
    }
}

.editor-toolbar + .editor-textarea {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
