.editor-toolbar {
    padding: $editor-toolbar-padding-v $editor-toolbar-padding-h;
    border: 1px solid $color-gray;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $color-gray-xxlight;
    font-size: 0;
}

.editor-toolbar .toolbar-button {
    margin-bottom: 0;
    padding: $editor-toolbar-button-padding;
    border: 0;
    border-radius: 0;
    background-color: $color-gray-xxlight;
}

.editor-toolbar + .editor-textarea {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.editor-textarea {
    margin-bottom: $editor-textarea-margin-bottom;
    padding: $editor-textarea-padding-v $editor-textarea-padding-h;
    min-height: 16 * $font-size-s * $base-line-height + $editor-textarea-padding-v * 2;
    max-height: 20 * $font-size-s * $base-line-height + $editor-textarea-padding-v * 2;
    font-size: $font-size-s;
    font-family: $mono-font-family;
}

.toolbar-button:hover {
    background-color: $color-gray-xlight;
}

.toolbar-button:focus,
.editor-textarea:focus {
    box-shadow: none;
}

.page-info {
    margin-bottom: $page-info-margin-bottom;
    padding: $page-info-padding-v $page-info-padding-h;
}

.page-info > div {
    @include ellipsis;
}
