.files-list {
    margin: 0;
    margin-bottom: $files-list-margin-bottom;
    padding: 0;
    list-style-type: none;
    @include user-select-none;
}

.file-name::before {
    margin-right: $file-name-icon-margin-right;
    color: $color-gray-xxdark;
    font-size: $font-size-m;
    @include icon(file);
}

.files-item .file-type-image::before {
    @include icon(file-image);
}

.files-item .file-type-document::before {
    @include icon(file-text);
}

.files-item .file-type-audio::before {
    @include icon(file-audio);
}

.file-type-video::before {
    @include icon(file-video);
}

.files-item-cell {
    display: table-cell;
    padding: $files-item-cell-padding;
    vertical-align: middle;
}

.files-item-cell {
    overflow: hidden;
    white-space: nowrap;
    font-size: $font-size-s;
}

.files-item {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.files-item-row {
    display: table-row;
}

.file-name {
    font-size: $file-name-font-size;
    @include ellipsis;
}

.file-size {
    color: $color-gray-xdark;
}

.file-actions {
    width: 20%;
    text-align: right;
}

.file-actions button,
.file-actions .button {
    margin: 0;
}
