.file-input {
    display: none;
}

.file-input-label {
    display: block;
    clear: both;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: $color-gray-xxlight;
}

.file-input-label span {
    display: block;
    padding: 1.5rem 1rem;
    border: 2px dashed $color-gray;
    color: #444;
    text-align: center;
    transition: background-color 300ms;
}

.file-input-label.drag span {
    background-color: #fff;
}
