.files-list {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style-type: none;

    @include user-select-none;
}

.file-name::before {
    margin-right: 0.5rem;
    color: #444;
    font-size: 1rem;

    @include icon(file);
}

.files-item .file-type-image::before {
    @include icon(file-image);
}

.files-item .file-type-document::before {
    @include icon(file-text);
}

.files-item .file-type-audio::before {
    @include icon(file-audio);
}

.file-type-video::before {
    @include icon(file-video);
}

.files-item-cell {
    display: table-cell;
    padding: 0.25rem;
    vertical-align: middle;
}

.files-item-cell {
    overflow: hidden;
    white-space: nowrap;
}

.files-item {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.files-item-row {
    display: table-row;
}

.file-name {
    width: 60%;
    font-size: 0.9375rem;

    @include ellipsis;
}

.file-actions {
    width: 40%;
    text-align: right;
    font-size: 0.875rem;
}

.file-actions button,
.file-actions .button {
    margin: 0;
}
