@use 'sass:math';

input,
select,
textarea {
    display: inline-block;
    margin: 0;
    margin-bottom: $input-margin-bottom;
    padding: $input-padding-v $input-padding-h;
    width: 100%;
    border: $input-border-width solid $color-base-500;
    border-radius: $input-border-radius;
    background-color: $color-base-900;
    color: $color-base-100;
    vertical-align: middle;
    font-size: $input-font-size;
    font-family: $base-font-family;
    line-height: $input-line-height;
    @include appearance-none;
    &:focus {
        outline: none;
        border-color: $color-accent-500;
        @include focusring;
    }
    &[disabled] {
        background-color: $color-base-700;
        color: $color-base-300;
    }
    &[readonly] {
        // Safari Mobile bug
        @include user-select-none;
    }
}

input[type=checkbox],
input[type=radio] {
    margin-bottom: 0;
    padding: 0;
    width: auto;
    height: inherit;
    vertical-align: text-top;
    &:focus {
        box-shadow: none;
    }
}

input[type=file] {
    padding: 0;
    border: none;
    border-radius: 0;
}

input[type=file]::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

// stylelint-disable-next-line no-descending-specificity
select {
    padding: $select-padding-h $select-padding-left $select-padding-h $select-padding-right;
    background: $color-base-900 url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 32 24\'><path fill=\'#{urlencode-color($color-base-300)}\' d=\'M0 0h32L16 24z\'/></svg>') no-repeat right 0.75rem center;
    background-color: $color-base-900;
    background-size: 8px 6px;
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $color-base-100;
    }
}

// stylelint-disable-next-line no-descending-specificity
textarea {
    overflow: auto;
    min-height: 2 * $input-font-size * $input-line-height + $input-padding-v * 2;
    max-height: 12 * $input-font-size * $input-line-height + $input-padding-v * 2;
    height: 4 * $input-line-height * $input-font-size + $input-padding-v * 2;
    resize: vertical;
}

.input-accent {
    border-color: $color-accent-500;
}

.input-success {
    border-color: $color-success-500;
}

.input-warning {
    border-color: $color-warning-500;
}

.input-error {
    border-color: $color-error-500;
}

.input-invalid {
    animation: shake $input-invalid-animation-duration;
    animation-fill-mode: both;
}

.input-wrap {
    position: relative;
}

.input-wrap input {
    padding-right: $input-wrap-padding-right;
}

.input-reset {
    position: absolute;
    top: calc(#{$input-padding-v} + #{$input-border-width});
    right: math.div($input-padding-h, 2);
    color: $color-base-100;
    font-size: $font-size-s;
    line-height: $input-line-height;
    transition: color $transition-time-s;
    &:hover {
        color: $color-accent-500;
    }
}

label {
    display: inline-block;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;
    @include user-select-none;
    @include appearance-none;
}

.label-suggestion {
    color: $color-base-300;
    font-size: $font-size-xs;
    line-height: 1;
}

.label-required::after {
    display: inline-block;
    margin-left: $label-required-margin-left;
    color: $color-error-500;
    content: '*';
}
