.custom-checkbox {
    position: absolute;
    opacity: 0;
}

.custom-checkbox + .custom-checkbox-text::before {
    position: relative;
    top: $custom-checkbox-top;
    display: inline-block;
    box-sizing: border-box;
    margin-right: $custom-checkbox-margin-right;
    width: $custom-checkbox-width;
    height: $custom-checkbox-height;
    border: $custom-checkbox-border-width solid $color-gray;
    border-radius: $border-radius;
    content: ' ';
    transition: border-color $transition-time-s, background-color $transition-time-s;
}

.custom-checkbox + .custom-checkbox-text:hover::before,
.custom-checkbox[disabled] + .custom-checkbox-text::before {
    background-color: $color-gray-xxlight;
}

.custom-checkbox:checked + .custom-checkbox-text::before {
    border-color: $color-accent;
    background-color: $color-accent;
}

.custom-checkbox:focus + .custom-checkbox-text::before {
    border-color: $color-accent;
    @extend .focused;
}

.custom-checkbox:checked + .custom-checkbox-text:hover::before {
    border-color: $color-accent-dark;
    background-color: $color-accent-dark;
}

.custom-checkbox:checked + .custom-checkbox-text::after {
    position: absolute;
    top: $custom-checkbox-top;
    left: 0;
    display: block;
    width: $custom-checkbox-width;
    height: $custom-checkbox-height;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 11 11\'%3E%3Cpath fill=\'%23fff\' d=\'M4.727 7.036L8.263 3.5l.707.707L4.727 8.45 2 5.722l.707-.707z\'/%3E%3C/svg%3E');
    content: ' ';
}

.custom-checkbox:checked[disabled] + .custom-checkbox-text::before {
    border-color: $color-gray;
    background-color: $color-gray;
}

.checkbox-label {
    position: relative;
    line-height: $input-line-height;
}

.image-input {
    padding-right: $image-input-padding-right;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 576 512\'><path fill=\'%23444\' d=\'M480 416v16a48 48 0 0 1-48 48H48a48 48 0 0 1-48-48V176a48 48 0 0 1 48-48h16v48H54a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6v-10h48zm42-336H150a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6V86a6 6 0 0 0-6-6zm6-48a48 48 0 0 1 48 48v256a48 48 0 0 1-48 48H144a48 48 0 0 1-48-48V80a48 48 0 0 1 48-48h384zM264 144a40 40 0 1 1-80 0 40 40 0 0 1 80 0zm-72 96l39.52-39.52a12 12 0 0 1 16.97 0L288 240l103.52-103.52a12 12 0 0 1 16.97 0L480 208v80H192v-48z\'/></svg>') no-repeat right 0.5rem center;
    background-size: 1rem 1rem;
    cursor: default;
}

.input-wrap .image-input {
    padding-right: $image-input-padding-right + $input-wrap-padding-right;
    background-position: right ($input-wrap-padding-right + 0.25rem) center;
}

.tag-input {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: $input-margin-bottom;
    padding: $input-padding-v $input-padding-h / 2;
    padding-bottom: 0;
    border: 1px solid $color-gray;
    border-radius: $border-radius;
    font-size: $input-font-size;
    line-height: $input-line-height;
    @include user-select-none;
}

.tag-input.focused {
    border-color: $color-accent;
}

.tag-inner-input {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: $input-padding-v;
    padding: 0 $input-padding-h / 2;
    max-width: 100%;
    width: auto;
    outline: none;
    border: 0;
    border-radius: 0;
    vertical-align: baseline;
    font-size: $font-size-s;
    font-family: inherit;
    line-height: inherit;
    &:focus {
        box-shadow: none;
    }
}

.tag-hidden-input {
    display: none;
}

.tag-input .tag {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: $input-padding-v;
    padding: $tag-input-tag-padding-v $tag-input-tag-padding-h;
    border-radius: $border-radius;
    background-color: $color-gray-xlight;
    font-size: $font-size-s;
    cursor: default;
    @include user-select-none;
}

.tag-input.disabled,
.tag-input.disabled .tag-inner-input {
    background-color: $color-gray-xxlight;
}

.tag-input.disabled .tag {
    background-color: $color-gray-light;
}

.tag-remove {
    display: inline-block;
    margin-left: $tag-remove-margin-left;
    padding: $tag-remove-padding-v $tag-remove-padding-h;
    color: $color-gray-xxdark;
    font-style: normal;
    transition: color $transition-time-s;
    &:hover {
        color: $color-accent;
    }
}

.tag-remove::after {
    content: '\00d7';
    font-weight: 600;
}

.title-input {
    font-size: $font-size-l;
}

.file-input {
    display: none;
}

.file-input-label {
    display: block;
    clear: both;
    margin-bottom: $file-input-label-margin-bottom;
    padding: $file-input-label-padding;
    background-color: $color-gray-xxlight;
}

.file-input-label span {
    display: block;
    padding: $file-input-label-inner-padding-v $file-input-label-inner-padding-h;
    border: $file-input-label-inner-border-width dashed $color-gray;
    color: $color-gray-xxdark;
    text-align: center;
    transition: background-color $transition-time-m;
}

.file-input-label.drag span {
    background-color: #fff;
}

.toggle-group {
    display: inline-block;
    margin: 0;
    margin-bottom: $input-margin-bottom;
    border: 1px solid $color-gray;
    border-radius: $border-radius;
    font-size: 0;
}

.toggle-group:focus-within {
    @extend .focused;

    border-color: $color-accent;
}

.toggle-group label {
    margin: 0;
}

.toggle-group input[type=radio] {
    position: absolute;
    opacity: 0;
}

.toggle-group input[type=radio] + span {
    display: inline-block;
    padding: $toggle-group-inner-padding-v $toggle-group-inner-padding-h;
    border-radius: $border-radius - 1px;
    font-size: $font-size-s;
    transition: background-color $transition-time-s, color $transition-time-s;
}

.toggle-group input[type=radio]:hover + span {
    background-color: $color-gray-xxlight;
}

.toggle-group input[type=radio]:checked + span {
    background-color: $color-accent;
    color: #fff;
}

.toggle-group input[type=radio]:focus + span {
    background-color: $color-accent-dark;
}

.toggle-group[disabled] input[type=radio] + span {
    background-color: transparent;
    color: $color-gray-xxdark;
}

.toggle-group[disabled] input[type=radio]:checked + span {
    background-color: $color-gray-light;
}

.toggle-group input[type=radio]:checked:hover + span {
    background-color: $color-accent-dark;
}

input[type=range] {
    padding: $range-input-padding-v $range-input-padding-h;
    width: $range-input-width;
    border: 0;
    -webkit-appearance: none;
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: $range-input-track-height;
        border: 0;
        border-radius: $range-input-track-height / 2;
        background-color: $color-gray-light;
        cursor: default;
    }
    &::-webkit-slider-thumb {
        margin-top: -($range-input-thumb-height - $range-input-track-height) / 2;
        width: $range-input-thumb-width;
        height: $range-input-thumb-height;
        border: 0;
        border-radius: $range-input-thumb-border-radius;
        background-color: $color-accent;
        transition: background-color $transition-time-s;
        -webkit-appearance: none;
    }
    &::-moz-range-track {
        width: 100%;
        height: $range-input-track-height;
        border: 0;
        border-radius: $range-input-track-height / 2;
        background-color: $color-gray-light;
    }
    &::-moz-range-thumb {
        width: $range-input-thumb-width;
        height: $range-input-thumb-height;
        border: 0;
        border-radius: $range-input-thumb-border-radius;
        background-color: $color-accent;
        cursor: default;
    }
    &::-ms-track {
        width: 100%;
        height: $range-input-track-height;
        border-color: transparent;
        background-color: transparent;
        color: transparent;
        cursor: default;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
        border: 0;
        border-radius: $range-input-track-height / 2;
        background: $color-gray-light;
        box-shadow: none;
    }
    &::-ms-thumb {
        margin-top: 0;
        width: $range-input-thumb-width;
        height: $range-input-thumb-height;
        border: 0;
        border-radius: $range-input-thumb-border-radius;
        background-color: $color-accent;
        cursor: default;
    }
    &:focus {
        box-shadow: none;
    }
    &:hover::-webkit-slider-thumb {
        background-color: $color-accent-dark;
    }
    &[disabled] {
        background-color: transparent;
        &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
            background-color: $color-gray-dark;
        }
    }
    &:focus::-webkit-slider-thumb {
        background-color: $color-accent-dark;
        box-shadow: $focus-box-shadow;
    }
    &:focus::-moz-range-thumb {
        background-color: $color-accent-dark;
        box-shadow: $focus-box-shadow;
    }
    &:focus::-ms-thumb {
        background-color: $color-accent-dark;
        box-shadow: $focus-box-shadow;
    }
}

.range-input-value {
    padding: $range-input-value-padding-v $range-input-value-padding-h;
    vertical-align: 0.1875rem;
    font-size: $font-size-s;
    @include user-select-none;
}

.array-input {
    margin-bottom: $array-input-margin-bottom;
    @include user-select-none;
}

.array-input-row {
    margin: 0 (-$array-input-row-padding-h);
    padding: $array-input-row-padding-v $array-input-row-padding-h;
    white-space: nowrap;
}

.array-input-key,
.array-input-value {
    display: inline-block;
    margin-bottom: 0;
}

.array-input-key {
    margin-right: $array-input-key-margin-right;
    width: $array-input-key-width;
}

.array-input-value {
    margin-right: $array-input-value-margin-right;
    width: $array-input-value-width-xs;
    @media (min-width: map-get($responsive-breakpoints, 'xs')) {
        width: $array-input-value-width-s;
    }
}

.array-input-associative .array-input-value {
    margin-right: $array-input-value-margin-right;
    width: $array-input-associative-value-width-xs;
    @media (min-width: map-get($responsive-breakpoints, 'xs')) {
        width: $array-input-associative-value-width-s;
    }
}

.array-input-add,
.array-input-remove {
    padding: 0;
    min-width: 0;
}

.array-input-add::before {
    @include icon(plus-circle);
}

.array-input-remove::before {
    @include icon(times-circle);
}
