.custom-checkbox {
    position: absolute;
    opacity: 0;
}

.custom-checkbox + .custom-checkbox-text::before {
    position: relative;
    top: 0.125rem;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid $color-gray;
    border-radius: 3px;
    content: ' ';
    transition: border-color 150ms, background-color 150ms;
}

.custom-checkbox + .custom-checkbox-text:hover::before,
.custom-checkbox:disabled + .custom-checkbox-text::before {
    background-color: $color-gray-xxlight;
}

.custom-checkbox:checked + .custom-checkbox-text::before {
    border-color: $color-accent;
    background-color: $color-accent;
}

.custom-checkbox:checked + .custom-checkbox-text:hover::before {
    border-color: $color-accent-dark;
    background-color: $color-accent-dark;
}

.custom-checkbox:checked + .custom-checkbox-text::after {
    position: absolute;
    top: 0.125rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 11 11\'%3E%3Cpath fill=\'%23fff\' d=\'M4.727 7.036L8.263 3.5l.707.707L4.727 8.45 2 5.722l.707-.707z\'/%3E%3C/svg%3E');
    content: ' ';
}

.custom-checkbox:checked:disabled + .custom-checkbox-text::before {
    border-color: $color-gray;
    background-color: $color-gray;
}

.checkbox-label {
    position: relative;
    line-height: 1.5;
}

.image-input {
    padding-right: 1.875rem;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 576 512\'><path fill=\'%23444\' d=\'M480 416v16a48 48 0 0 1-48 48H48a48 48 0 0 1-48-48V176a48 48 0 0 1 48-48h16v48H54a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6v-10h48zm42-336H150a6 6 0 0 0-6 6v244a6 6 0 0 0 6 6h372a6 6 0 0 0 6-6V86a6 6 0 0 0-6-6zm6-48a48 48 0 0 1 48 48v256a48 48 0 0 1-48 48H144a48 48 0 0 1-48-48V80a48 48 0 0 1 48-48h384zM264 144a40 40 0 1 1-80 0 40 40 0 0 1 80 0zm-72 96l39.52-39.52a12 12 0 0 1 16.97 0L288 240l103.52-103.52a12 12 0 0 1 16.97 0L480 208v80H192v-48z\'/></svg>') no-repeat right 0.5rem center;
    background-size: 1rem 1rem;
}

.tag-input {
    display: block;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.25rem;
    padding-bottom: 0;
    border: 1px solid $color-gray;
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 1.5;
    @include user-select-none;
}

.tag-inner-input {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
    padding: 0 0.25rem;
    max-width: 100%;
    width: auto;
    outline: none;
    border: 0;
    border-radius: 0;
    vertical-align: baseline;
    font-size: 0.875rem;
    font-family: inherit;
    line-height: inherit;
    &:focus {
        box-shadow: none;
    }
}

.tag-hidden-input {
    display: none;
}

.tag-input .tag {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
    padding: 0 0.375rem;
    border-radius: 3px;
    background-color: $color-gray-xlight;
    font-size: 0.875rem;
    cursor: default;
    @include user-select-none;
}

.tag-remove {
    display: inline-block;
    margin-left: 0.25rem;
    padding: 0 0.125rem;
    color: #444;
    font-style: normal;
    transition: color 150ms;
}

.tag-remove:hover {
    color: $color-accent;
}

.tag-remove::after {
    content: '\00d7';
    font-weight: 600;
}

.date-input,
.image-input {
    cursor: default;
}

.title-input {
    font-size: 1.125rem;
}

.toggle-group {
    display: inline-block;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    border: 1px solid $color-gray;
    border-radius: 3px;
    font-size: 0;
}

.toggle-group label {
    margin: 0;
}

.toggle-group input[type=radio] {
    display: none;
}

.toggle-group input[type=radio] + span {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: background-color 150ms, color 150ms;
}

.toggle-group input[type=radio]:hover + span {
    background-color: $color-gray-xxlight;
}

.toggle-group input[type=radio]:checked + span {
    background-color: $color-accent;
    color: #fff;
}

input[type=range] {
    padding: 0.875rem 0;
    width: 15rem;
    border: 0;

    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    box-shadow: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25rem;
    border: 0;
    border-radius: 0.125rem;
    background-color: #e4e4e4;
    cursor: default;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -0.375rem;
    width: 1rem;
    height: 1rem;
    border: 0;
    border-radius: 50%;
    background: $color-accent;
    transition: background-color 150ms;

    -webkit-appearance: none;
}

input[type=range]:hover::-webkit-slider-thumb {
    background-color: $color-accent-dark;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.25rem;
    border: 0;
    border-radius: 0.125rem;
    background-color: #e4e4e4;
}

input[type=range]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border: 0;
    border-radius: 50%;
    background-color: $color-accent;
    cursor: default;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 0.25rem;
    border-color: transparent;
    background-color: transparent;
    color: transparent;
    cursor: default;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    border: 0;
    border-radius: 0.125rem;
    background: #e4e4e4;
    box-shadow: none;
}

input[type=range]::-ms-thumb {
    margin-top: 0;
    width: 1rem;
    height: 1rem;
    border: 0;
    border-radius: 50%;
    background-color: $color-accent;
    cursor: default;
}

.range-input-value {
    padding: 0 0.5rem;
    vertical-align: 0.1875rem;
    font-size: 0.875rem;
    @include user-select-none;
}
