.login-modal-container {
    max-width: $login-modal-width;
    padding: $login-modal-padding;
    margin: $login-modal-margin-v $login-modal-margin-h;
    background-color: $color-base-900;
    border-radius: $border-radius;
}

@media (min-width: $login-modal-width) {
    .login-modal-container {
        margin: $login-modal-margin-v auto;
    }
}

.login-modal-info,
.login-modal-success,
.login-modal-warning,
.login-modal-error {
    position: relative;
    padding: $login-modal-notification-padding-v $login-modal-notification-padding-right $login-modal-notification-padding-v $login-modal-notification-padding-left;
    margin: $login-modal-notification-margin $login-modal-notification-margin $login-modal-notification-margin-bottom $login-modal-notification-margin;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    a {
        display: block;
        color: $color-white;
        text-decoration: underline;
        @include ellipsis;
    }
    & .icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        display: block;
        transform: translate(0, -50%);
    }
}

.login-modal-info {
    background-color: $color-accent-500;
    color: $color-white;
}

.login-modal-success {
    background-color: $color-success-400;
    color: $color-white;
}

.login-modal-warning {
    background-color: $color-warning-500;
    color: $color-white;
}

.login-modal-error {
    background-color: $color-error-500;
    color: $color-white;
}
