.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-color: $backdrop-background-color;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: flex;
    display: none;
    align-items: center;
    outline: 0;
}

.modal.show {
    display: block;
    display: flex;
}

.modal-content {
    margin: $modal-margin-v $modal-margin-h;
    padding: $modal-padding;
    max-width: $modal-width-s;
    border-radius: $border-radius;
    background-color: $color-base-900;
    @media (min-width: $modal-width-s) {
        margin: $modal-margin-v auto;
    }
}

.modal-size-large {
    max-width: $modal-width-l;
    width: $modal-width-l;
    @media (max-width: $modal-width-l) {
        margin: $modal-margin-v $modal-margin-h;
    }
}

.modal-error {
    margin: $modal-error-margin $modal-error-margin $modal-error-margin-bottom $modal-error-margin;
    padding: $modal-error-padding;
    background-color: $color-error-500;
    color: $color-base-900;
}

.modal-text {
    margin-bottom: $modal-text-margin-bottom;
}
