.notification-container {
    position: fixed;
    top: $notification-container-top;
    right: $notification-container-right;
    z-index: 12;
}

.notification {
    position: relative;
    overflow: hidden;
    margin-bottom: $notification-margin-bottom;
    padding: $notification-padding-v $notification-padding-h;
    width: $notification-width;
    border-radius: $border-radius;
    background-color: $color-base-700;
    box-shadow: $notification-box-shadow;
    text-overflow: ellipsis;
    cursor: default;
    transition: top $transition-time-m ease-in, opacity $transition-time-s;
    animation: fadeInRight $notification-animation-duration $notification-animation-easing;
    &:hover {
        opacity: $notification-hover-opacity;
    }
}

.notification.fadeout {
    opacity: 0;
    animation: fadeOutRight $notification-animation-duration $notification-animation-easing;
}

.notification::before {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block;
    font-size: $font-size-xl;
    transform: translate(0, -50%);
}

.notification-info,
.notification-success,
.notification-warning,
.notification-error {
    padding-left: $notification-padding-h + $notification-icon-width;
}

.notification-info {
    background-color: $color-accent-500;
    color: $color-white;
}

.notification-success {
    background-color: darken($color-success-500, 10%);
    color: $color-white;
}

.notification-warning {
    background-color: darken($color-warning-500, 10%);
    color: $color-white;
}

.notification-error {
    background-color: darken($color-error-500, 10%);
    color: $color-white;
}

.notification-info::before {
    @include icon(info-circle);
}

.notification-success::before {
    @include icon(check-circle);
}

.notification-warning::before {
    @include icon(exclamation-triangle);
}

.notification-error::before {
    @include icon(error-circle);
}
