.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    margin-bottom: 0.5rem;
    padding: 1.5rem 2.5rem;
    width: 350px;
    border-radius: 3px;
    background-color: $color-gray-xlight;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 9px 0;
    transition: top 300ms ease-in;
    animation: fadeInRight 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.notification.fadeout {
    opacity: 0;
    animation: fadeOutRight 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.notification-error,
.notification-success {
    padding-left: 3.25rem;
}

.notification-error {
    background-color: $color-error;
    color: #fff;
}

.notification-success {
    background-color: $color-success-dark;
    color: #fff;
}

.notification-error::before,
.notification-success::before {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block;
    font-size: 1.25rem;
    transform: translate(0, -50%);
}

.notification-error::before {
    @include icon(error-circle);
}

.notification-success::before {
    @include icon(check);
}
