.notification-container {
    position: fixed;
    z-index: 12;
    top: $notification-container-top;
    right: $notification-container-right;
}

.notification {
    position: relative;
    overflow: hidden;
    width: $notification-width;
    padding: $notification-padding-v $notification-padding-h;
    margin-bottom: $notification-margin-bottom;
    animation: fadeInRight $notification-animation-duration $notification-animation-easing;
    background-color: $color-base-700;
    border-radius: $border-radius;
    box-shadow: $notification-box-shadow;
    cursor: default;
    text-overflow: ellipsis;
    transition: top $transition-time-m ease-in, opacity $transition-time-s;
    &:hover {
        opacity: $notification-hover-opacity;
    }
}

.notification.fadeout {
    animation: fadeOutRight $notification-animation-duration $notification-animation-easing;
    opacity: 0;
}

.notification .icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
    transform: translate(0, -50%);
}

.notification-info,
.notification-success,
.notification-warning,
.notification-error {
    padding-left: $notification-padding-h + $notification-icon-width;
}

.notification-info {
    background-color: $color-accent-500;
    color: $color-white;
}

.notification-success {
    background-color: $color-success-400;
    color: $color-white;
}

.notification-warning {
    background-color: $color-warning-400;
    color: $color-white;
}

.notification-error {
    background-color: $color-error-400;
    color: $color-white;
}
