.options-form .checkbox-label {
    margin-bottom: $input-margin-bottom;
    font-size: $font-size-m;
}

.info-data {
    margin-bottom: $info-data-margin-bottom;
    width: 100%;
    table-layout: fixed;
}

.info-data td {
    overflow: hidden;
    padding: $info-data-inner-padding;
    vertical-align: top;
}

.info-data-key {
    width: 25%;
}

.info-data-value {
    width: 75%;
    word-break: break-word;
    font-size: $font-size-s;
    font-family: $mono-font-family;
}
