@use 'sass:color';

@use 'sass:map';

.pages-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include user-select-none;
}

.pages-list .pages-list {
    display: none;
}

.pages-list-headers {
    display: none;
    padding: $pages-list-headers-padding-v $pages-list-headers-padding-h;
    font-weight: 600;
    @include user-select-none;
}

.page-children-toggle {
    display: inline-block;
    min-width: auto;
    padding: 0;
    border-color: transparent;
    margin: 0 $page-children-toggle-margin-right $page-children-toggle-margin-bottom 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
    }
    &:focus {
        @include focusring;
    }
}

.page-children-toggle .icon {
    margin-right: 0;
    transition: transform $transition-time-s;
}

.toggle-expanded .icon {
    transform: rotate(-180deg);
}

.pages-item {
    padding: $pages-item-padding-v $pages-item-padding-h;
    border-bottom: 1px solid $color-base-600;
    &:hover {
        background-color: $color-base-800;
    }
}

.pages-item .sort-handle {
    display: none;
}

.pages-list-top {
    border-top: 1px solid $color-base-600;
}

.pages-item-cell,
.pages-headers-cell {
    padding: $pages-item-cell-padding-v $pages-item-cell-padding-h;
    font-size: $font-size-s;
}

.pages-item-cell div,
.pages-headers-cell {
    @include ellipsis;
}

.page-title {
    padding: $focusring-width;
    margin: -$focusring-width;
    font-size: $font-size-m;
}

.page-language {
    display: inline-block;
    min-width: $page-language-min-width;
    padding: $page-language-padding-v $page-language-padding-h;
    background-color: $color-accent-900;
    border-radius: $border-radius;
    color: $color-accent-500;
    font-size: $font-size-s;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

button .page-language,
.button .page-language {
    font-size: $font-size-xs;
}

.page-route {
    color: $color-base-300;
    font-size: $font-size-s;
}

.page-route-changeable {
    padding: $focusring-width;
    margin: -$focusring-width;
}

.page-status .icon {
    display: inline-block;
    margin-right: $page-status-label-margin-right;
}

.page-status-published .icon {
    color: $color-success-500;
}

.page-status-not-published .icon {
    color: $color-error-500;
}

.page-status-not-routable .icon {
    color: $color-warning-500;
}

.page-date,
.page-status,
.page-actions {
    display: none;
}

.page-actions .button-link {
    font-size: $font-size-m;
}

@media (min-width: map.get($responsive-breakpoints, 'xs')) {
    .pages-item,
    .pages-list-headers {
        display: flex;
        align-items: center;
    }

    .pages-item-cell,
    .pages-headers-cell {
        display: block;
    }

    .page-details {
        max-width: 55%;
        flex: 0 0 55%;
    }

    .page-date,
    .page-status,
    .page-actions {
        max-width: 15%;
        flex: 0 0 15%;
        text-align: center;
    }
}

.pages-level-2 .page-details {
    padding-left: $pages-level-2-padding-left;
}

.pages-level-3 .page-details {
    padding-left: $pages-level-3-padding-left;
}

.pages-level-4 .page-details {
    padding-left: $pages-level-4-padding-left;
}

.pages-level-5 .page-details {
    padding-left: $pages-level-5-padding-left;
}

.page-info {
    padding: $page-info-padding-v $page-info-padding-h;
    margin-bottom: $page-info-margin-bottom;
}

.page-info > div {
    @include ellipsis;
}

.page-slug-change {
    padding: 0;
    border-color: transparent;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: $color-base-300;
    cursor: pointer;
    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
        color: $color-base-300;
    }
    &:focus {
        @include focusring;
    }
    & .icon {
        display: inline-block;
        margin-right: 0;
        color: $color-base-100;
        opacity: 0;
        transition: opacity $transition-time-s;
    }
    &:hover .icon, &:focus .icon {
        opacity: 1;
    }
}

.dragging [data-sortable=false] .pages-item:hover {
    background-color: color.adjust($color-error-500, $lightness: 37.5%);
    cursor: no-drop;
}
