.pages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include user-select-none;
}

.pages-list .pages-list {
    display: none;
}

.pages-list-headers {
    display: none;
    padding: $pages-list-headers-padding-v $pages-list-headers-padding-h;
    font-weight: 600;
    @include user-select-none;
}

.page-children-toggle {
    display: inline-block;
    margin-right: $page-children-toggle-margin-right;
    color: $color-gray-xxdark;
    font-weight: 400;
    font-size: $font-size-s;
    line-height: 1.714;
}

.toggle-collapsed::before {
    @include icon(chevron-down);
}

.toggle-expanded::before {
    @include icon(chevron-up);
}

.pages-item {
    padding: $pages-item-padding-v $pages-item-padding-h;
    border-bottom: 1px solid $color-gray-light;
    &:hover {
        background-color: $color-gray-xxlight;
    }
}

.pages-item .sort-handle {
    display: none;
}

.pages-list-top {
    border-top: 1px solid $color-gray-light;
}

.pages-item-cell,
.pages-headers-cell {
    padding: $pages-item-cell-padding-v $pages-item-cell-padding-h;
    font-size: $font-size-s;
}

.pages-item-cell div,
.pages-headers-cell {
    @include ellipsis;
}

.page-title {
    margin: -$focus-outline-width;
    padding: $focus-outline-width;
    font-size: $font-size-m;
}

.page-language {
    display: inline-block;
    padding: $page-language-padding-v $page-language-padding-h;
    min-width: $page-language-min-width;
    border-radius: $border-radius;
    background-color: $color-accent-background;
    color: $color-accent;
    text-align: center;
    font-weight: 600;
    font-size: $font-size-s;
    line-height: 1;
}

button .page-language,
.button .page-language {
    font-size: $font-size-xs;
}

.page-route {
    color: $color-gray-dark;
    font-size: $font-size-s;
}

.page-status-label::before {
    display: inline-block;
    margin-right: $page-status-label-margin-right;
    font-size: $font-size-xs;
    @include icon(circle);
}

.page-status-published .page-status-label::before {
    color: $color-success;
}

.page-status-not-published .page-status-label::before {
    color: $color-error;
}

.page-status-not-routable .page-status-label::before {
    color: $color-warning;
}

.page-date,
.page-status,
.page-actions {
    display: none;
}

.page-actions .button-link {
    font-size: $font-size-m;
}

@media (min-width: map-get($responsive-breakpoints, 'xs')) {
    .pages-item,
    .pages-list-headers {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .pages-item-row {
        display: table-row;
    }

    .pages-item-cell,
    .pages-headers-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .page-details {
        width: 50%;
    }

    .page-date,
    .page-status,
    .page-actions {
        width: 15%;
        text-align: center;
    }
}

.pages-level-2 .page-details {
    padding-left: $pages-level-2-padding-left;
}

.pages-level-3 .page-details {
    padding-left: $pages-level-3-padding-left;
}

.pages-level-4 .page-details {
    padding-left: $pages-level-4-padding-left;
}

.pages-level-5 .page-details {
    padding-left: $pages-level-5-padding-left;
}

.page-search {
    padding-right: $page-search-padding-right;
    max-width: $page-search-width;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'><path fill=\'%23444\' d=\'M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z\'></path></svg>') no-repeat right 0.5rem center;
    background-size: 0.875rem 0.875rem;
}

.page-info {
    margin-bottom: $page-info-margin-bottom;
    padding: $page-info-padding-v $page-info-padding-h;
}

.page-info > div {
    @include ellipsis;
}

.page-slug-change {
    cursor: pointer;
    &::after {
        display: inline-block;
        margin-left: $page-slug-change-icon-margin-left;
        color: $color-gray-xxdark;
        content: ' ';
        opacity: 0;
        transition: opacity $transition-time-s;
        @include icon(pencil);
    }
    &:hover::after {
        opacity: 1;
    }
}

.dragging [data-sortable=false] .pages-item:hover {
    background-color: lighten($color-error, 37.5%);
    cursor: no-drop;
}
