.pages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include user-select-none;
}

.pages-list .pages-list {
    display: none;
}

.page-children-toggle {
    display: block;
    float: left;
    margin-right: 0.25rem;
    color: #444;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.714;
}

.toggle-collapsed::before {
    @include icon(chevron-down);
}

.toggle-expanded::before {
    @include icon(chevron-up);
}

.pages-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid $color-gray-light;
}

.pages-list-top {
    border-top: 1px solid $color-gray-light;
}

.pages-item:hover {
    background-color: $color-gray-xxlight;
}

.pages-item-cell {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.pages-item-cell div {
    @include ellipsis;
}

.page-title {
    font-size: 1rem;
}

.page-uri {
    font-size: 0.875rem;
}

.page-uri a,
.page-uri a:hover {
    color: $color-gray-dark;
}

.page-status-label::before {
    display: inline-block;
    margin-right: 0.375rem;
    font-size: 0.75rem;
    @include icon(circle);
}

.page-status-published .page-status-label::before {
    color: $color-success;
}

.page-status-not-published .page-status-label::before {
    color: $color-error;
}

.page-status-not-routable .page-status-label::before {
    color: $color-warning;
}

.page-date,
.page-status,
.page-actions {
    display: none;
}

@media (min-width: map-get($responsive-breakpoints, 'xs')) {
    .pages-item {
        display: table;
        width: 100%;
        table-layout: fixed;
        line-height: 1.5;
    }

    .pages-item-row {
        display: table-row;
    }

    .pages-item-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .page-details {
        width: 50%;
    }

    .page-date,
    .page-status {
        width: 20%;
        text-align: center;
    }

    .page-actions {
        width: 10%;
        text-align: center;
    }
}

.pages-level-2 .page-details {
    padding-left: 1.5rem;
}

.pages-level-3 .page-details {
    padding-left: 3rem;
}

.pages-level-4 .page-details {
    padding-left: 4.5rem;
}

.pages-level-5 .page-details {
    padding-left: 6rem;
}

.page-actions button,
.page-actions .button {
    margin: 0;
}

.page-search {
    padding-right: 1.5rem;
    max-width: 28rem;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'><path fill=\'%23444\' d=\'M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z\'></path></svg>') no-repeat right 0.5rem center;
    background-size: 0.875rem 0.875rem;
}

.sortable-chosen,
.sortable-ghost {
    background-color: #fff;
}

.sortable-fallback {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.15);
}

.dragging [data-sortable=false] .pages-item:hover {
    background-color: lighten($color-error, 37.5%);
    cursor: no-drop;
}
