.spinner {
    position: relative;
    display: inline-block;
    width: $spinner-width;
    height: $spinner-height;
    border-width: $spinner-border-width;
    border-style: solid;
    border-color: $color-accent-500;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-right: $spinner-margin-right;
    animation: $spinner-animation-duration spin infinite linear;
    border-radius: $border-radius-round;
    text-align: center;
    transition: border $spinner-border-transition-duration;
    transition-timing-function: ease-out;
    vertical-align: -0.375rem;
}

.spinner .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-info {
    border-color: $color-accent-500;
    animation: none;
    color: $color-accent-500;
}

.spinner-success {
    border-color: $color-success-500;
    animation: none;
    color: $color-success-500;
}

.spinner-error {
    border-color: $color-error-500;
    animation: none;
    color: $color-error-500;
}
