.spinner {
    display: inline-block;
    margin-right: 0.5rem;
}

.spinner::after {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #3498da;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: transparent;
    content: '\00a0';
    vertical-align: text-top;
    text-align: center;
    font-size: 0.625rem;
    line-height: 1.3;
    transition: border 0.5s;
    animation: 0.75s spin infinite linear;

    transition-ease-function: ease-out;
}

.spinner-info::after {
    border-color: #3498da;
    background-color: #fff;
    color: #3498da;
    animation: none;
    @include icon(info);
}

.spinner-success::after {
    border-color: #2ecc70;
    background-color: #fff;
    color: #2ecc70;
    animation: none;
    @include icon(check);
}

.spinner-error::after {
    border-color: #e74c3b;
    background-color: #fff;
    color: #e74c3b;
    animation: none;
    @include icon(exclamation);
}
