.spinner {
    display: inline-block;
    margin-right: $spinner-margin-right;
}

.spinner::after {
    display: inline-block;
    width: $spinner-width;
    height: $spinner-height;
    border-width: $spinner-border-width;
    border-style: solid;
    border-color: $color-accent-500;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: $border-radius-round;
    color: transparent;
    content: '\00a0';
    vertical-align: text-top;
    text-align: center;
    font-size: $spinner-font-size;
    line-height: $spinner-line-height;
    transition: border $spinner-border-transition-duration;
    transition-timing-function: ease-out;
    animation: $spinner-animation-duration spin infinite linear;
}

.spinner-info::after {
    border-color: $color-accent-500;
    color: $color-accent-500;
    animation: none;
    @include icon(info);
}

.spinner-success::after {
    border-color: $color-success-500;
    color: $color-success-500;
    animation: none;
    @include icon(check);
}

.spinner-error::after {
    border-color: $color-error-500;
    color: $color-error-500;
    animation: none;
    @include icon(exclamation);
}
