.tabs {
    overflow-x: auto;
    margin-bottom: $tabs-margin-bottom;
    border-bottom: 1px solid $color-gray-light;
    white-space: nowrap;
    @include user-select-none;
}

.tabs-tab {
    display: inline-block;
    padding: $tabs-tab-padding-v $tabs-tab-padding-h;
    color: #000;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}

.tabs-tab.active {
    border-bottom: $tabs-tab-notch-width solid $color-accent;
    font-weight: 600;
}

.caption + .tabs {
    margin-top: -$tabs-tab-padding-v;
}
