.tabs {
    padding: $focusring-width $focusring-width 0;
    border-bottom: 1px solid $color-base-600;
    margin-bottom: $tabs-margin-bottom;
    overflow-x: auto;
    white-space: nowrap;
    @include user-select-none;
}

.tabs-tab {
    display: inline-block;
    padding: $tabs-tab-padding-v $tabs-tab-padding-h;
    color: $color-base-100;
    cursor: pointer;
    &:hover {
        color: $color-base-100;
    }
}

.tabs-tab.active {
    border-bottom: $tabs-tab-notch-width solid $color-accent-500;
    font-weight: 600;
}

.caption + .tabs {
    margin-top: -$tabs-tab-padding-v;
}
