.title-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    padding: 1rem;
    padding-left: 4rem;
    background-color: #f0f0f0;
    box-shadow: rgba(240, 240, 240, 0.25) 1px 1px 9px 3px;
    color: #444;

    @include user-select-none;
    @include ellipsis;
    @media (min-width: map-get($responsive-breakpoints, 's')) {
        left: 15rem;
        padding-left: 1.5rem;
    }
}

.panel-title {
    float: left;
}

.view-site {
    float: right;
    color: #444;
    &:hover {
        color: $color-accent;
    }
}

.view-site i {
    margin-left: 0.5rem;
}
