.title-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    padding: $title-bar-padding;
    padding-left: $title-bar-padding-left + $toggle-navigation-width + 2 * $toggle-navigation-left;
    background-color: $color-gray-xlight;
    box-shadow: $component-box-shadow;
    color: $color-gray-xxdark;
    @include user-select-none;
    @include ellipsis;
    @media (min-width: map-get($responsive-breakpoints, 's')) {
        left: $sidebar-width;
        padding-left: $title-bar-padding-left;
    }
}

.panel-title {
    float: left;
}

.view-site {
    float: right;
    color: $color-gray-xxdark;
    &:hover {
        color: $color-accent;
    }
}

.view-site i {
    margin-left: 0.5rem;
}
