.tooltip {
    position: absolute;
    z-index: 20;
    display: none;
    min-width: $tooltip-min-width;
    padding: $tooltip-padding;
    background-color: $tooltip-background-color;
    border-radius: $border-radius;
    color: $color-base-900;
    font-size: $font-size-xs;
    pointer-events: none;
    text-align: center;
}
