h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}

@if ($large-headings-letter-spacing != 0) {
    h1, .h1, h2, .h2, h3, .h3 {
        letter-spacing: $large-headings-letter-spacing;
    }
}

h1, .h1 {
    font-size: $h1-font-size;
}

h2, .h2 {
    font-size: $h2-font-size;
}

h3, .h3 {
    font-size: $h3-font-size;
}

h4, .h4 {
    font-size: $h4-font-size;
}

h5, .h5 {
    font-size: $h5-font-size;
}

h6, .h6 {
    font-size: $h6-font-size;
}

strong {
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
    line-height: $base-line-height;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: $list-margin-bottom;
    margin-left: $list-margin-left;
    list-style-position: outside;
}
