.users-list {
    border-top: 1px solid $color-gray-light;
    @include user-select-none;
}

.users-list-headers {
    display: none;
}

.users-item {
    padding: $users-item-padding-v $users-item-padding-h;
    border-bottom: 1px solid $color-gray-light;
}

.users-item-cell,
.users-headers-cell {
    padding: $users-item-cell-padding-v-s $users-item-cell-padding-h-s;
    vertical-align: middle;
    font-size: $font-size-s;
    @include ellipsis;
}

.users-item .user-username {
    font-size: $font-size-m;
}

.user-username,
.user-fullname {
    display: inline-block;
}

.user-last-access,
.user-actions {
    display: none;
}

@media (min-width: map-get($responsive-breakpoints, 'xs')) {
    .users-item {
        display: table;
        width: 100%;
        table-layout: fixed;
        line-height: 1.5;
    }

    .users-list-headers {
        display: table;
        padding: $users-list-headers-padding-v $users-list-headers-padding-h;
        width: 100%;
        table-layout: fixed;
        font-weight: 600;
    }

    .users-item-cell,
    .users-headers-cell {
        display: table-cell;
        padding: $users-item-cell-padding-v-l $users-item-cell-padding-h-l;
    }

    .user-username {
        width: 20%;
    }

    .user-last-access,
    .user-actions {
        text-align: center;
    }

    .user-last-access {
        width: 20%;
    }

    .user-actions {
        width: 10%;
    }
}

.users-item:hover {
    background-color: $color-gray-xxlight;
}

.user-actions button,
.user-actions .button {
    margin: 0;
}
