.user-summary {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.user-summary-avatar {
    display: table-cell;
    padding: $user-summary-cell-padding;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.user-summary-avatar img {
    width: $user-summary-avatar-width;
    border-radius: $user-summary-border-radius;
}

.user-summary-data {
    display: table-cell;
    padding: $user-summary-cell-padding;
    vertical-align: middle;
}
