.user-summary {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.user-summary-avatar {
    display: table-cell;
    padding: $user-summary-cell-padding;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.user-summary-avatar img {
    width: $user-summary-avatar-width;
    border-radius: $user-summary-border-radius;
}

.user-summary-data {
    display: table-cell;
    padding: $user-summary-cell-padding;
    vertical-align: middle;
}

.users-list {
    border-top: 1px solid $color-gray-light;
    @include user-select-none;
}

.users-list-headers {
    display: none;
    @include user-select-none;
}

.users-item {
    padding: $users-item-padding-v $users-item-padding-h;
    border-bottom: 1px solid $color-gray-light;
    &:hover {
        background-color: $color-gray-xxlight;
    }
}

.users-item-cell,
.users-headers-cell {
    padding: $users-item-cell-padding-v-s $users-item-cell-padding-h-s;
    vertical-align: middle;
    font-size: $font-size-s;
    @include ellipsis;
}

.user-username,
.user-fullname {
    display: inline-block;
}

.users-item .user-username {
    font-size: $font-size-m;
}

.user-last-access,
.user-actions {
    display: none;
}

.user-actions .button-link {
    font-size: $font-size-m;
}

@media (min-width: map-get($responsive-breakpoints, 'xs')) {
    .users-item {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .users-list-headers {
        display: table;
        padding: $users-list-headers-padding-v $users-list-headers-padding-h;
        width: 100%;
        table-layout: fixed;
        font-weight: 600;
    }

    .users-item-cell,
    .users-headers-cell {
        display: table-cell;
        padding: $users-item-cell-padding-v-l $users-item-cell-padding-h-l;
    }

    .user-username {
        width: 20%;
    }

    .user-last-access,
    .user-actions {
        text-align: center;
    }

    .user-last-access {
        width: 20%;
    }

    .user-actions {
        width: 10%;
    }
}
