@use 'sass:color';

// ===
// Breakpoints
// ===

$responsive-breakpoints: (
    xs: 600px,
    s: 768px,
    m: 1024px,
    l: 1280px
);

// ===
// Colors
// ===

$color-base-100: hsl(0, 0%, 15%) !default;
$color-base-200: hsl(0, 0%, 32%) !default;
$color-base-300: hsl(0, 0%, 49%) !default;
$color-base-400: hsl(0, 0%, 59%) !default;
$color-base-500: hsl(0, 0%, 79%) !default;
$color-base-600: hsl(0, 0%, 89%) !default;
$color-base-700: hsl(0, 0%, 93%) !default;
$color-base-800: hsl(0, 0%, 97%) !default;
$color-base-900: hsl(0, 0%, 99%) !default;

$color-accent-100: $color-blue-100;
$color-accent-200: $color-blue-200;
$color-accent-300: $color-blue-300;
$color-accent-400: $color-blue-400;
$color-accent-500: $color-blue-500;
$color-accent-600: $color-blue-600;
$color-accent-700: $color-blue-700;
$color-accent-800: $color-blue-800;
$color-accent-900: $color-blue-900;

$color-success-100: $color-green-100;
$color-success-200: $color-green-200;
$color-success-300: $color-green-300;
$color-success-400: $color-green-400;
$color-success-500: $color-green-500;
$color-success-600: $color-green-600;
$color-success-700: $color-green-700;
$color-success-800: $color-green-800;
$color-success-900: $color-green-900;

$color-warning-100: $color-amber-100;
$color-warning-200: $color-amber-200;
$color-warning-300: $color-amber-300;
$color-warning-400: $color-amber-400;
$color-warning-500: $color-amber-500;
$color-warning-600: $color-amber-600;
$color-warning-700: $color-amber-700;
$color-warning-800: $color-amber-800;
$color-warning-900: $color-amber-900;

$color-error-100: $color-red-100;
$color-error-200: $color-red-200;
$color-error-300: $color-red-300;
$color-error-400: $color-red-400;
$color-error-500: $color-red-500;
$color-error-600: $color-red-600;
$color-error-700: $color-red-700;
$color-error-800: $color-red-800;
$color-error-900: $color-red-900;

// ===
// Common values
// ===

$border-radius: 3px;
$border-radius-round: 50%;

$mark-background-color: $color-yellow-500;

$selection-background-color: rgba($color-accent-500, 0.25);

$focusring-width: 2px;
$focusring-opacity: 0.375;
$focusring-default-color: color.adjust($color-accent-500, $saturation: 21%);

$link-outline-color: rgba($focusring-default-color, $focusring-opacity);

$columns-count: 12;
$columns-gutter: 30px;

$transition-time-s: 150ms;
$transition-time-m: 300ms;

$caret-width: 0.25rem;

$dropdown-box-shadow: 1px 1px 0.75rem 0 rgba($color-black, 0.25);
$component-box-shadow: 0 0 0.75rem -0.25rem rgba($color-black, 0.05);

// ===
// Typography
// ===

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$mono-font-family: 'SFMono-Regular', 'SF Mono', 'Cascadia Mono', 'Liberation Mono', Menlo, Consolas, monospace;

$base-font-size: 100%;
$base-line-height: 1.5;

$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;

$headings-line-height: 1.2;
$headings-margin-bottom: 0.5rem;
$headings-font-weight: 500;

$large-headings-letter-spacing: -0.027rem;

$h1-font-size: 2.369rem;
$h2-font-size: 2.104rem;
$h3-font-size: 1.777rem;
$h4-font-size: 1.579rem;
$h5-font-size: 1.184rem;
$h6-font-size: 1rem;

$paragraph-margin-bottom: 0.5rem;

$list-margin-bottom: 0.5rem;
$list-margin-left: 1.25rem;

// ===
// Buttons
// ===

$button-margin-h: 0.25rem;
$button-margin-bottom: 0.5rem;
$button-padding-v: 0.375rem;
$button-padding-h: 0.5rem;

$button-min-width: 2rem;
$button-border-width: 1px;
$button-border-radius: $border-radius;

$button-font-size: $font-size-s;
$button-line-height: 1.15;

// ===
// Forms
// ===

$input-margin-bottom: 0.5rem;
$input-padding-v: 0.25rem;
$input-padding-h: 0.5rem;
$input-font-size: $font-size-s;
$input-line-height: $base-line-height;
$input-border-width: 1px;
$input-border-radius: $border-radius;

$input-invalid-animation-duration: 500ms;

$input-wrap-padding-right: 1.625rem;

$label-margin-bottom: 0.25rem;
$label-font-size: $font-size-s;

$label-required-margin-left: 0.125rem;

$select-padding-h: 0.25rem;
$select-padding-left: 1.5rem;
$select-padding-right: 0.5rem;

// ===
// Inputs
// ===

$input-checkbox-top: 0.125rem;
$input-checkbox-margin-right: 0.5rem;
$input-checkbox-width: 1rem;
$input-checkbox-height: 1rem;
$input-checkbox-border-width: 1px;

$input-tag-tag-padding-v: 0;
$input-tag-tag-padding-h: 0.375rem;

$tag-remove-margin-left: 0.25rem;
$tag-remove-padding-v: 0;
$tag-remove-padding-h: 0.125rem;

$input-file-label-margin-bottom: 1rem;
$input-file-label-padding: 0.5rem;

$input-file-label-inner-padding-v: 1.5rem;
$input-file-label-inner-padding-h: 1rem;
$input-file-label-inner-border-width: 2px;

$input-togglegroup-inner-padding-v: 0.25rem;
$input-togglegroup-inner-padding-h: 0.75rem;

$input-range-padding-v: 0.875rem;
$input-range-padding-h: 0;
$input-range-width: 15rem;

$input-range-track-height: 0.25rem;
$input-range-thumb-width: 1rem;
$input-range-thumb-height: 1rem;
$input-range-thumb-border-radius: $border-radius-round;

$input-range-value-padding-v: 0;
$input-range-value-padding-h: 0.5rem;

$input-array-margin-bottom: 0.5rem;

$input-array-row-padding-v: 0.25rem;
$input-array-row-padding-h: 0.5rem;

$input-array-key-margin-right: 0.25rem;
$input-array-key-width: 30%;

$input-array-value-margin-right: 0.25rem;

$input-array-actions-margin-right: 0.25rem;

$input-duration-inner-width: 2rem;
$input-duration-label-padding-h: 0.5rem;

// ===
// Dropdowns
// ===

$dropdown-margin-bottom: $button-margin-bottom;

$dropdown-menu-margin-top: 3px;
$dropdown-menu-padding-v: 0.25rem;
$dropdown-menu-padding-h: 0;
$dropdown-menu-min-width: 8rem;
$dropdown-menu-border-width: 1px;
$dropdown-menu-border-radius: $border-radius;

$dropdown-item-padding-v: 0.25rem;
$dropdown-item-padding-h: 1rem;
$dropdown-item-font-size: $button-font-size;

$dropdown-separator-margin-v: 0.25rem;
$dropdown-separator-margin-h: 0;
$dropdown-separator-border-width: $dropdown-menu-border-width;

$dropdown-list-max-height: 6.25 * (2 * $dropdown-item-padding-v * $base-line-height + $dropdown-item-font-size);

// ===
// Editor
// ===

$editor-toolbar-padding-v: 0.125rem;
$editor-toolbar-padding-h: 0.25rem;
$editor-toolbar-button-padding: 0.5rem;

$editor-textarea-margin-bottom: 1rem;
$editor-textarea-padding-v: 0.75rem;
$editor-textarea-padding-h: 1rem;

// ===
// Calendar
// ===

$calendar-margin-h: 1rem;
$calendar-margin-top: 3px;
$calendar-margin-bottom: 1rem;
$calendar-padding: 0.5rem;
$calendar-width: 18rem;

$calendar-button-padding-v: 0;
$calendar-button-padding-h: 0.5rem;

// ===
// Image picker
// ===

$image-picker-thumbnails-margin-bottom: 1rem;
$image-picker-thumbnails-padding: 0.5rem;
$image-picker-thumbnails-height: 15rem;

$image-picker-thumbnail-margin: 0.25rem;
$image-picker-thumbnail-padding: 0.5rem;
$image-picker-thumbnail-width: 8rem;
$image-picker-thumbnail-height: 8rem;

$image-picker-thumbnail-caption-right: 0.75rem;
$image-picker-thumbnail-caption-bottom: 0.5rem;
$image-picker-thumbnail-caption-left: 0.75rem;
$image-picker-thumbnail-caption-padding-v: 0;
$image-picker-thumbnail-caption-padding-h: 0.375rem;
$image-picker-thumbnail-caption-background-color: rgba($color-base-600, 0.9);

$image-picker-empty-state-margin-top: 3rem;
$image-picker-empty-state-margin-bottom: 4rem;
$image-picker-empty-state-margin-h: auto;
$image-picker-empty-state-icon-font-size: 2rem;

// ===
// Files list
// ===

$files-list-margin-bottom: 1rem;

$files-item-cell-padding: 0.25rem;

$file-name-icon-margin-right: 0.5rem;
$file-name-font-size: 0.9375rem;

// ===
// Tabs
// ===

$tabs-margin-bottom: 1rem;
$tabs-tab-padding-v: 0.5rem;
$tabs-tab-padding-h: 1.25rem;
$tabs-tab-notch-width: 3px;

// ===
// Modals
// ===

$backdrop-background-color: rgba($color-black, 0.75);

$modal-margin-v: 3rem;
$modal-margin-h: 0.5rem;
$modal-padding: 2rem;
$modal-width-s: 26rem;
$modal-width-l: 40rem;

$modal-error-margin: -2rem;
$modal-error-margin-bottom: 1rem;
$modal-error-padding: 1rem;

$modal-text-margin-bottom: 2.5rem;

// ===
// Notifications
// ===

$notification-container-top: 20px;
$notification-container-right: 20px;
$notification-margin-bottom: 0.5rem;
$notification-padding-v: 1.5rem;
$notification-padding-h: 2.5rem;
$notification-width: 350px;
$notification-box-shadow: $dropdown-box-shadow;
$notification-hover-opacity: 0.95;
$notification-icon-width: 0.75rem;
$notification-animation-duration: 300ms;
$notification-animation-easing: cubic-bezier(0.4, 0, 0.2, 1);

// ===
// Tooltip
// ===

$tooltip-padding: 0.25rem 0.5rem;
$tooltip-min-width: 2rem;
$tooltip-background-color: rgba($color-base-100, 0.8);

// ===
// Spinner
// ===

$spinner-margin-right: 0.75rem;
$spinner-width: 1.5rem;
$spinner-height: 1.5rem;
$spinner-border-width: 0.2rem;
$spinner-border-transition-duration: 500ms;
$spinner-animation-duration: 750ms;

// ===
// Login
// ===

$login-modal-margin-v: 3rem;
$login-modal-margin-h: 0.5rem;
$login-modal-padding: 2rem;
$login-modal-width: 24rem;

$login-modal-notification-margin: -2rem;
$login-modal-notification-margin-bottom: 1rem;
$login-modal-notification-padding-v: 1rem;
$login-modal-notification-padding-left: 3.5rem;
$login-modal-notification-padding-right: 2rem;

// ===
// Admin
// ===

$title-bar-padding: 1rem;
$title-bar-padding-left: 1.5rem;

$sidebar-width: 14rem;

$sidebar-padding-h: 1rem;
$sidebar-padding-v: 1.5rem;
$sidebar-background-gradient-color-0: $color-base-900;
$sidebar-background-gradient-color-100: $color-base-800;
$sidebar-background-gradient: linear-gradient(to bottom, #{$sidebar-background-gradient-color-0} 0%, #{$sidebar-background-gradient-color-100} 100%);

$toggle-navigation-top: 0.75rem;
$toggle-navigation-left: 0.75rem;
$toggle-navigation-width: 1rem;

$sidebar-navigation-li-margin-bottom: 0.5rem;
$sidebar-navigation-li-padding-v: 0.25rem;
$sidebar-navigation-li-padding-h: 0;
$sidebar-navigation-li-padding-left: 1rem;

$sidebar-navigation-notch-width: 3px;

$logo-margin-bottom: 2rem;
$logo-font-size: $h5-font-size;
$logo-line-height: 1.5rem;

$logo-image-margin-right: 0.25rem;
$logo-image-height: 1.5rem;
$logo-image-vertical-align: -0.25rem;

$sidebar-navigation-margin-bottom: 1rem;

$admin-user-card-margin-bottom: 2rem;

$admin-user-avatar-width: 48px;

$admin-user-details-padding-v: 0;
$admin-user-details-padding-h: 0.75rem;

$main-margin: 1.875rem;
$main-margin-top: 4.5rem;
$main-margin-left: $main-margin + $sidebar-width;

$component-margin-bottom: 1rem;
$component-padding: 1.5rem;
$component-box-shadow: 0 0 0.75rem -0.25rem rgba($color-black, 0.05);

$caption-margin-bottom: 1rem;
$caption-letter-spacing: 1px;
$caption-font-size: 0.9375rem;

$separator-height: 0.5rem;
$separator-height-l: 1rem;

$section-header-margin-bottom: 0.5rem;
$section-header-padding-v: 0.25rem;
$section-header-padding-h: 0.5rem;

$sortable-fallback-box-shadow: 0 0 0.75rem 0.25rem rgba($color-black, 0.15);

// ===
// Dashboard
// ===

$dashboard-chart-height: 14rem;

// ===
// Pages
// ===

$pages-list-headers-padding-v: 0.25rem;
$pages-list-headers-padding-h: 0;

$page-children-toggle-margin-right: 0.25rem;
$page-children-toggle-margin-bottom: 0.125rem;

$pages-item-padding-v: 0.5rem;
$pages-item-padding-h: 0;

$pages-item-cell-padding-v: 0.25rem;
$pages-item-cell-padding-h: 0.5rem;

$page-language-padding-v: 0.125rem;
$page-language-padding-h: 0.25rem;
$page-language-min-width: 1.125rem;

$page-status-label-margin-right: 0.375rem;

$pages-level-2-padding-left: 1.5rem;
$pages-level-3-padding-left: 3rem;
$pages-level-4-padding-left: 4.5rem;
$pages-level-5-padding-left: 6rem;

$page-search-padding-left: 2rem;
$page-search-width: 28rem;

$page-info-margin-bottom: 0.75rem;
$page-info-padding-v: 0;
$page-info-padding-h: 0.25rem;

// ===
// Options
// ===

$info-data-margin-bottom: 1rem;
$info-data-inner-padding: 0.5rem;

// ===
// Users
// ===

$user-summary-cell-padding: 0.75rem;
$user-summary-avatar-width: 180px;
$user-summary-border-radius: $border-radius-round;

$users-item-padding-v: 0.5rem;
$users-item-padding-h: 0;

$users-item-cell-padding-v-s: 0.125rem;
$users-item-cell-padding-h-s: 0.25rem;
$users-item-cell-padding-v-l: 0.25rem;
$users-item-cell-padding-h-l: 0.5rem;

$users-list-headers-padding-v: 0.25rem;
$users-list-headers-padding-h: 0;

// ===
// Errors
// ===

$error-container-margin-v: 4rem;
$error-container-margin-h: auto;
$error-container-padding: 1rem;
$error-container-max-width: 32rem;
