/* header */
header{}
header .navbar-brand img{
    width: 35px;
}

/* main */
main{}






main .figure-logo img{
    height: 150px;
}
main .f-headline{
	background: url(https://images.unsplash.com/photo-1514575619841-1a3d949d3277?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300
) no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* footer */
footer{}

/* sole */
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.bg-dark-2{background-color: #000;}
.ff-poppins{font-family: Poppins;}

/* responsive */
@media (max-width: 1200px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 576px){}