
/* header */
header{}
header .navbar-brand img{width: 35px;}

/* main */
main{}
main .figure-logo img{height: 150px;}
main .f-headline{background: url(../../assets/img/f-headline.png) no-repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
main .list-group-item.active{background-color: #17a2b8;border-color: #249caf;}
main .card-contributor img{height: 50px;}

/**/
article h1{font-size: 22px;padding-bottom: .3em;border-bottom: 1px solid #eaecef;margin-bottom: 1rem;}
article h2{font-size: 17px;padding-bottom: .3em;border-bottom: 1px solid #eaecef;margin-bottom: 1rem;}
article h3{font-size: 14px;margin-bottom: 1rem;}
article ol,
article ul{padding-left: 2em;font-size: 15px;}
article ul li{word-break: break-all;}
article ul li b, 
article ul li strong{font-weight: 600;}
article table{width: 100%;font-size: 15px;margin-bottom: 1rem;border: 1px solid #dee2e6;color: #212529;}
article table td,
article table th{padding: .60rem;vertical-align: top;border-top: 1px solid #dee2e6;}
article table thead th{color: #fff;background-color: #343a40;border-color: #454d55;}
article table td,
article table th{border: 1px solid #dee2e6;}
article table tbody tr:nth-of-type(even){background-color: rgba(0,0,0,.05);}
article .highlight{width: 100%;overflow-x: auto;vertical-align: middle;border: 1px solid rgba(0,0,0,.125);border-top: 0;margin: 0;padding: 10px 0.5em;}
article .highlight pre{border: 0;}
article .highlight pre code{font-size: 14px;}
article .highlighter-rouge{position: relative;margin-bottom: 1rem;}
article .language-html:before,
article .language-sh:before,
article .language-js:before,
article .language-css:before,
article .language-php:before,
article .language-shell:before{display: flex;justify-content: center;width: 100%;padding: .4rem;font-size: 13px;color: #24292e;border: 1px solid rgba(0,0,0,.125);background-color: #eff3f6;background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);font-weight: 500;}
article .language-sh:before{content:"Sh";}
article .language-shell:before{content:"Shell";}
article .language-html:before{content:"HTML";}
article .language-js:before{content:"JS";}
article .language-css:before{content:"CSS";}
article .language-php:before{content:"PHP";}

/* footer */
footer{}

/* syntax highlighting */
.highlight .hll{background-color: #ffffcc}
.highlight .c{color: #999988;font-style: italic}
.highlight .err{color: #a61717;background-color: #e3d2d2}
.highlight .k{color: #000000;font-weight: bold}
.highlight .o{color: #000000;font-weight: bold}
.highlight .cm{color: #999988;font-style: italic}
.highlight .cp{color: #999999;font-weight: bold;font-style: italic}
.highlight .c1{color: #999988;font-style: italic}
.highlight .cs{color: #999999;font-weight: bold;font-style: italic}
.highlight .gd{color: #000000;background-color: #ffdddd}
.highlight .ge{color: #000000;font-style: italic}
.highlight .gr{color: #aa0000}
.highlight .gh{color: #999999}
.highlight .gi{color: #000000;background-color: #ddffdd}
.highlight .go{color: #888888}
.highlight .gp{color: #555555}
.highlight .gs{font-weight: bold}
.highlight .gu{color: #aaaaaa}
.highlight .gt{color: #aa0000}
.highlight .kc{color: #000000;font-weight: bold}
.highlight .kd{color: #000000;font-weight: bold}
.highlight .kn{color: #000000;font-weight: bold}
.highlight .kp{color: #000000;font-weight: bold}
.highlight .kr{color: #000000;font-weight: bold}
.highlight .kt{color: #445588;font-weight: bold}
.highlight .m{color: #009999}
.highlight .s{color: #d01040}
.highlight .na{color: #008080}
.highlight .nb{color: #0086B3}
.highlight .nc{color: #445588;font-weight: bold}
.highlight .no{color: #008080}
.highlight .nd{color: #3c5d5d;font-weight: bold}
.highlight .ni{color: #800080}
.highlight .ne{color: #990000;font-weight: bold}
.highlight .nf{color: #990000;font-weight: bold}
.highlight .nl{color: #990000;font-weight: bold}
.highlight .nn{color: #555555}
.highlight .nt{color: #000080}
.highlight .nv{color: #008080}
.highlight .ow{color: #000000;font-weight: bold}
.highlight .w{color: #bbbbbb}
.highlight .mf{color: #009999}
.highlight .mh{color: #009999}
.highlight .mi{color: #009999}
.highlight .mo{color: #009999}
.highlight .sb{color: #d01040}
.highlight .sc{color: #d01040}
.highlight .sd{color: #d01040}
.highlight .s2{color: #d01040}
.highlight .se{color: #d01040}
.highlight .sh{color: #d01040}
.highlight .si{color: #d01040}
.highlight .sx{color: #d01040}
.highlight .sr{color: #009926}
.highlight .s1{color: #d01040}
.highlight .ss{color: #990073}
.highlight .bp{color: #999999}
.highlight .vc{color: #008080}
.highlight .vg{color: #008080}
.highlight .vi{color: #008080}
.highlight .il{color: #009999}

/* sole */
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fw-5{font-weight: 500}
.bg-dark-2{background-color: #000;}
.ff-poppins{font-family: Poppins;}

/* responsive */
@media (max-width: 1200px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 576px){}