/* header */
header{}
header .navbar-brand img{width: 35px;}

/* main */
main{}
main .figure-logo img{height: 150px;}
main .f-headline{background: url(../../assets/img/f-headline.png) no-repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
main .list-group-item.active{background-color: #17a2b8;border-color: #249caf;}

/* footer */
footer{}

/* sole */
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fw-5{font-weight: 500}
.bg-dark-2{background-color: #000;}
.ff-poppins{font-family: Poppins;}

/* responsive */
@media (max-width: 1200px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 576px){}