@use "mixins" as *;

html {
    font-size: 100%;
    text-size-adjust: 100%;
}

.color-scheme-dark {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: var(--color-base-800);
    color: var(--color-base-100);
    font-family: var(--font-family-sans);
    line-height: var(--line-height-text);
    -webkit-tap-highlight-color: transparent;

    .color-scheme-dark & {
        background-color: var(--color-base-900);
    }
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}

a {
    background-color: transparent;
    color: var(--color-link);
    outline-color: var(--color-focusring);
    text-decoration: none;
    transition: color var(--transition-time-sm);

    &:hover {
        color: var(--color-link-hover);
    }

    &:not([href]) {
        cursor: default;
    }
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

mark {
    border-radius: var(--border-radius);
    background-color: var(--color-yellow-500);
}

code,
pre {
    border-radius: var(--border-radius);
    background-color: var(--color-base-700);
    font-family: var(--font-family-mono);
    font-size: 0.875em;
}

code {
    padding: 0.125rem 0.25rem;
    color: var(--color-code);
}

pre {
    padding: 1rem;
    white-space: pre-wrap;
}

pre code {
    padding: 0;
    color: inherit;
    font-size: inherit;
}

.color-scheme-dark pre,
.color-scheme-dark code {
    background-color: var(--color-base-600);
}

blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid var(--color-base-500);
    margin: 1rem 0;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-base-500);
    margin: 1rem 0;
}

[hidden] {
    display: none;
}

.focused {
    @include focusring;
}

::selection {
    background-color: var(--color-selection);
}

::placeholder {
    color: var(--color-base-300);
}

.link-secondary {
    color: var(--color-base-300);

    &:hover {
        color: var(--color-base-200);
    }
}
