html {
    font-size: $base-font-size;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: $color-base-800;
    color: $color-base-100;
    font-family: $base-font-family;
    line-height: $base-line-height;
    -webkit-tap-highlight-color: rgba($color-base-100, 0);
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}

a {
    background-color: transparent;
    color: $color-accent-500;
    outline-color: $link-outline-color;
    text-decoration: none;
    transition: color $transition-time-s;

    &:hover {
        color: $color-accent-400;
    }

    &:not([href]) {
        cursor: default;
    }
}

img {
    max-width: 100%;
    border-style: none;
}

mark {
    background-color: $mark-background-color;
}

code,
pre {
    border-radius: $border-radius;
    background-color: $color-base-600;
    font-family: $mono-font-family;
    font-size: 0.875em;
}

code {
    padding: 0.125rem 0.25rem;
    color: $color-accent-400;
}

pre {
    padding: 1rem;
    white-space: pre-wrap;
}

[hidden] {
    display: none;
}

.focused {
    @include focusring;
}

::selection {
    background-color: $selection-background-color;
}

::placeholder {
    color: $color-base-300;
}
