@use "mixins" as *;
@use "variables" as *;

html {
    font-size: $base-font-size;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: var(--color-base-800);
    color: var(--color-base-100);
    font-family: $base-font-family;
    line-height: $base-line-height;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}

a {
    background-color: transparent;
    color: var(--color-accent-500);
    outline-color: var(--color-focusring);
    text-decoration: none;
    transition: color $transition-time-sm;

    &:hover {
        color: var(--color-accent-400);
    }

    &:not([href]) {
        cursor: default;
    }
}

img {
    max-width: 100%;
    border-style: none;
}

mark {
    background-color: var(--color-yellow-500);
}

code,
pre {
    border-radius: $border-radius;
    background-color: var(--color-base-700);
    font-family: $mono-font-family;
    font-size: 0.875em;
}

code {
    padding: 0.125rem 0.25rem;
    color: var(--color-accent-500);
}

pre {
    padding: 1rem;
    white-space: pre-wrap;
}

pre code {
    padding: 0;
    color: inherit;
    font-size: inherit;
}

blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid var(--color-base-500);
    margin: 1rem 0;
}

[hidden] {
    display: none;
}

.focused {
    @include focusring;
}

::selection {
    background-color: var(--color-selection);
}

::placeholder {
    color: var(--color-base-300);
}

.link-secondary {
    color: var(--color-base-300);

    &:hover {
        color: var(--color-base-200);
    }
}
