.button {
    display: inline-block;
    padding: 0.375rem 0.5rem;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background-color: transparent;
    color: inherit;
    cursor: default;
    font-family: $base-font-family;
    font-size: $font-size-sm;
    font-weight: 500;
    line-height: 1.15;
    outline: none;
    text-align: center;
    transition:
        border-color $transition-time-sm,
        background-color $transition-time-sm,
        color $transition-time-sm;
    white-space: nowrap;
    @include user-select-none;

    &:hover {
        color: $color-accent-500;
    }

    &:focus {
        @include focusring;
    }

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        box-shadow: none;
        color: $color-base-500;
        pointer-events: none;
    }

    & .icon {
        display: inline-block;
        margin-right: 0.25rem;
    }
}

.button-right {
    margin-right: 0;
    margin-left: 0.25rem;
    float: right;
}

.button-accent {
    border: 1px solid $color-accent-500;
    background-color: $color-accent-500;
    box-shadow: 0 1px 0 rgba($color-base-100, 0.25);
    color: $color-white;

    &:hover,
    &:focus,
    &.active {
        border-color: $color-accent-400;
        background-color: $color-accent-400;
        color: $color-white;
    }

    &:focus {
        @include focusring;
    }
}

.button-secondary {
    border: 1px solid $color-base-600;
    background-color: $color-base-600;
    box-shadow: 0 1px 0 rgba($color-base-100, 0.25);
    color: $color-base-100;

    &:hover,
    &:focus,
    &.active {
        border-color: $color-base-500;
        background-color: $color-base-500;
        color: $color-base-100;
    }

    &:focus {
        @include focusring($color-base-100);
    }
}

.button-success {
    border: 1px solid $color-success-500;
    background-color: $color-success-500;
    box-shadow: 0 1px 0 rgba($color-base-100, 0.25);
    color: $color-white;

    &:hover,
    &:focus,
    &.active {
        border-color: $color-success-400;
        background-color: $color-success-400;
        color: $color-white;
    }

    &:focus {
        @include focusring($color-success-500);
    }
}

.button-warning {
    border: 1px solid $color-warning-500;
    background-color: $color-warning-500;
    box-shadow: 0 1px 0 rgba($color-base-100, 0.25);
    color: $color-white;

    &:hover,
    &:focus,
    &.active {
        border-color: $color-warning-400;
        background-color: $color-warning-400;
        color: $color-white;
    }

    &:focus {
        @include focusring($color-warning-500);
    }
}

.button-danger {
    border: 1px solid $color-danger-500;
    background-color: $color-danger-500;
    box-shadow: 0 1px 0 rgba($color-base-100, 0.25);
    color: $color-white;

    &:hover,
    &:focus,
    &.active {
        border-color: $color-danger-400;
        background-color: $color-danger-400;
        color: $color-white;
    }

    &:focus {
        @include focusring($color-danger-500);
    }
}

.button-link {
    & .icon {
        margin-right: 0;
    }
}
