button,
.button {
    display: inline-block;
    overflow: visible;
    min-width: $button-min-width;
    padding: $button-padding-v $button-padding-h;
    border: $button-border-width solid $color-base-600;
    border-radius: $button-border-radius;
    margin-right: $button-margin-h;
    margin-bottom: $button-margin-bottom;
    background-color: $color-base-600;
    box-shadow: $button-box-shadow;
    color: $color-base-100;
    cursor: default;
    font-family: $base-font-family;
    font-size: $button-font-size;
    font-weight: 500;
    line-height: $button-line-height;
    outline: none;
    transition:
        border-color $transition-time-s,
        background-color $transition-time-s,
        color $transition-time-s;
    white-space: nowrap;
    @include user-select-none;
    &:hover,
    &:focus {
        border-color: $color-base-500;
        background-color: $color-base-500;
        color: $color-base-100;
    }
    &:focus {
        @include focusring($color-base-100);
    }
    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        border-color: $color-base-800;
        background-color: $color-base-800;
        box-shadow: none;
        color: $color-base-500;
        pointer-events: none;
    }
    &.active {
        border-color: $color-base-500;
        background-color: $color-base-500;
    }
    & .icon {
        display: inline-block;
        margin-right: 0.25rem;
    }
}

a.button {
    text-align: center;
}

.button-right {
    margin-right: 0;
    margin-left: $button-margin-h;
    float: right;
}

.button-accent {
    border: $button-border-width solid $color-accent-500;
    background-color: $color-accent-500;
    color: $color-white;
    &:hover,
    &:focus {
        border-color: $color-accent-400;
        background-color: $color-accent-400;
        color: $color-white;
    }
    &:focus {
        @include focusring;
    }
}

.button-success {
    border: $button-border-width solid $color-success-500;
    background-color: $color-success-500;
    color: $color-white;
    &:hover,
    &:focus {
        border-color: $color-success-400;
        background-color: $color-success-400;
        color: $color-white;
    }
    &:focus {
        @include focusring($color-success-500);
    }
}

.button-warning {
    border: $button-border-width solid $color-warning-500;
    background-color: $color-warning-500;
    color: $color-white;
    &:hover,
    &:focus {
        border-color: $color-warning-400;
        background-color: $color-warning-400;
        color: $color-white;
    }
    &:focus {
        @include focusring($color-warning-500);
    }
}

.button-error {
    border: $button-border-width solid $color-error-500;
    background-color: $color-error-500;
    color: $color-white;
    &:hover,
    &:focus {
        border-color: $color-error-400;
        background-color: $color-error-400;
        color: $color-white;
    }
    &:focus {
        @include focusring($color-error-500);
    }
}

.button-link {
    border: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    font-size: inherit;
    &:hover,
    &:focus {
        background-color: transparent;
        color: $color-accent-500;
    }
    &:focus {
        @include focusring;
    }
    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        background-color: transparent;
        cursor: default;
    }
    & .icon {
        margin-right: 0;
    }
}
