@import "../vendor/chartist";

.ct-chart {
    position: relative;
    display: block;
    width: 100%;
    height: 14rem;
    @include user-select-none;
}

.ct-label {
    color: var(--color-base-400);
    white-space: pre-wrap;
}

.ct-grid {
    opacity: 0.2;
    stroke: var(--color-base-100);
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
    stroke: var(--color-blue-500);
}

.ct-series-a .ct-area {
    fill: var(--color-blue-500);
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
    stroke: var(--color-amber-500);
}

.ct-series-b .ct-area {
    fill: var(--color-amber-500);
}

.ct-label.ct-horizontal,
.ct-label.ct-horizontal.ct-end {
    display: inline-block;
    width: auto !important;
    min-width: 3rem;
    color: var(--color-base-100);
    text-align: center;
    transform: translateX(-50%);
}

.ct-legend {
    font-size: $font-size-sm;
    @include user-select-none;
}

.ct-legend-right {
    text-align: right;
}

.ct-legend-label {
    white-space: nowrap;
}

.ct-legend-label .icon {
    display: inline-block;
    margin: 0 0.25rem;
}

.ct-legend-label.ct-series-a .icon {
    color: var(--color-blue-500);
}

.ct-legend-label.ct-series-b .icon {
    color: var(--color-amber-500);
}
