@use "sass:map";

.container,
.container-full,
.container-no-margin {
    padding: 0 $columns-gutter * 0.5;
    margin: 0 auto;
}

.container {
    max-width: map.get($responsive-breakpoints, "l");
}

.container-no-margin {
    padding-right: 0;
    padding-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $columns-gutter * -0.5;
}

@media (max-width: map.get($responsive-breakpoints, "s")) {
    .container-no-margin .row {
        margin: 0;
    }

    .container-no-margin div[class^="col-"] {
        padding: 0;
    }
}

@include make-columns-globals($columns-count, $responsive-breakpoints);

@include make-breakpoint-columns($columns-count, "xs");

@media (min-width: map.get($responsive-breakpoints, "s")) {
    @include make-breakpoint-columns($columns-count, "s");
}

@media (min-width: map.get($responsive-breakpoints, "m")) {
    @include make-breakpoint-columns($columns-count, "m");
}

@media (min-width: map.get($responsive-breakpoints, "l")) {
    @include make-breakpoint-columns($columns-count, "l");
}
