@use "sass:map";

.container,
.container-full,
.container-no-margin {
    padding: 0 $columns-gutter * 0.5;
    margin: 0 auto;
}

.container {
    max-width: map.get($breakpoints, "lg");
}

.container-no-margin {
    padding-right: 0;
    padding-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $columns-gutter * -0.5;
}

@media (max-width: map.get($breakpoints, "sm")) {
    .container-no-margin .row {
        margin: 0;
    }

    .container-no-margin [class^="col-"] {
        padding: 0;
    }
}

@include make-columns-globals($columns-count, $breakpoints);

@include make-breakpoint-columns($columns-count, "xs");

@media (min-width: map.get($breakpoints, "sm")) {
    @include make-breakpoint-columns($columns-count, "sm");
}

@media (min-width: map.get($breakpoints, "md")) {
    @include make-breakpoint-columns($columns-count, "md");
}

@media (min-width: map.get($breakpoints, "lg")) {
    @include make-breakpoint-columns($columns-count, "lg");
}
