@use "sass:map";

.container {
    max-width: map.get($breakpoints, "lg");
    padding: 0;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

@media (min-width: map.get($breakpoints, "sm")) {
    .container {
        padding: 0 $columns-gutter;
    }

    .container .row {
        margin-right: $columns-gutter * -0.5;
        margin-left: $columns-gutter * -0.5;
    }
}

@include make-columns-globals($columns-count, $breakpoints);

@include make-breakpoint-columns($columns-count, "xs");

@media (min-width: map.get($breakpoints, "sm")) {
    @include make-breakpoint-columns($columns-count, "sm");
}

@media (min-width: map.get($breakpoints, "md")) {
    @include make-breakpoint-columns($columns-count, "md");
}

@media (min-width: map.get($breakpoints, "lg")) {
    @include make-breakpoint-columns($columns-count, "lg");
}
