// ===
// Dark color scheme overrides
// ===
$color-base-100: #f2f2f3;
$color-base-200: #c4c7ca;
$color-base-300: #979ca1;
$color-base-400: #7c8288;
$color-base-500: #4b4f53;
$color-base-600: #333638;
$color-base-700: #292b2e;
$color-base-800: #1f2123;
$color-base-900: #181a1b;
