.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.dropdown-button {
    margin-bottom: 0;
}

.dropdown-button.caret {
    @include caret;
}

.dropdown-button.caret:empty::after {
    margin-left: 0;
}

.dropdown-menu,
.dropdown-list {
    position: absolute;
    z-index: 8;
    top: 100%;
    left: 0;
    display: none;
    min-width: 8rem;
    padding: 0.25rem 0;
    border: 1px solid $color-base-500;
    border-radius: $border-radius;
    margin-top: 3px;
    background-color: $color-base-900;
    box-shadow: $box-shadow-md;
    float: left;
}

.dropdown-menu::after,
.dropdown-list::after {
    position: absolute;
    bottom: -40px;
    width: 1px;
    height: 40px;
    content: "";
}

.dropdown-list {
    width: 100%;
}

.dropdown-list-items {
    max-height: 6.25 * (2 * 0.5rem * $base-line-height + $font-size-sm);
    overflow-y: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    background-color: transparent;
    color: $color-base-100;
    cursor: pointer !important;
    font-family: inherit;
    font-size: $font-size-sm;
    text-align: inherit;
    white-space: nowrap;

    &:hover {
        background-color: $color-base-700;
        color: $color-base-100;
    }

    &.disabled {
        color: $color-base-300;
        cursor: default !important;

        &:hover {
            background-color: transparent;
            color: $color-base-300;
        }
    }

    &.selected {
        background-color: $color-accent-500;
        color: $color-white;
    }

    & .icon {
        display: inline-block;
        margin-right: 0.25rem;
    }
}

.dropdown-empty {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: $color-base-300;
    cursor: default !important;
    font-size: $font-size-sm;
    white-space: nowrap;
}

.dropdown-separator {
    height: 0;
    border-top: 1px solid $color-base-500;
    margin: 0.25rem 0;
}
