.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: $dropdown-margin-bottom;
}

.dropdown-button {
    margin-bottom: 0;
}

.dropdown-button.caret {
    @include caret;
}

.dropdown-menu,
.dropdown-list {
    position: absolute;
    z-index: 8;
    top: 100%;
    left: 0;
    display: none;
    min-width: $dropdown-menu-min-width;
    padding: $dropdown-menu-padding-v $dropdown-menu-padding-h;
    border: $dropdown-menu-border-width solid $color-base-500;
    border-radius: $dropdown-menu-border-radius;
    margin-top: $dropdown-menu-margin-top;
    background-color: $color-base-900;
    box-shadow: $dropdown-box-shadow;
    float: left;
}

.dropdown-list {
    width: 100%;
    max-height: $dropdown-list-max-height;
    overflow-y: scroll;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: $dropdown-item-padding-v $dropdown-item-padding-h;
    color: $color-base-100;
    cursor: pointer !important;
    font-size: $dropdown-item-font-size;
    white-space: nowrap;
    &:hover {
        background-color: $color-base-700;
        color: $color-base-100;
    }
    &.selected {
        background-color: $color-accent-500;
        color: $color-white;
    }
}

.dropdown-separator {
    height: 0;
    border-top: $dropdown-separator-border-width solid $color-base-500;
    margin: $dropdown-separator-margin-v $dropdown-separator-margin-h;
}
