@use "mixins" as *;

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.dropdown-button {
    margin-bottom: 0;
}

.dropdown-button.caret {
    @include caret;
}

.dropdown-button.caret:empty::after {
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    z-index: 8;
    top: 100%;
    left: 0;
    display: none;
    min-width: 8rem;
    padding: 0.25rem 0;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin-top: 3px;
    background-color: var(--color-base-900);
    box-shadow: var(--box-shadow-md);
    overflow-y: auto;

    .color-scheme-dark & {
        background-color: var(--color-base-800);
    }
}

.dropdown-list {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .dropdown-menu;

    width: 100%;
    max-height: calc(6.25 * (2 * 0.5rem * var(--line-height-text) + var(--font-size-sm)));
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    background-color: transparent;
    color: var(--color-base-100);
    cursor: pointer !important;
    font-family: inherit;
    font-size: var(--font-size-sm);
    text-align: inherit;
    white-space: nowrap;

    &:hover {
        background-color: var(--color-base-700);
        color: var(--color-base-100);
    }

    &:focus {
        background-color: var(--color-base-700);
        color: var(--color-base-100);
        @include focusring;
    }

    &.disabled,
    &:disabled {
        color: var(--color-base-500);
        cursor: default !important;

        &:hover {
            background-color: transparent;
            color: var(--color-base-500);
        }
    }

    &.selected {
        background-color: var(--color-accent-500);
        color: var(--color-white);
    }

    &.is-active,
    &.is-active:hover {
        background-color: var(--color-base-600);
    }

    & .icon {
        display: inline-block;
        margin-right: 0.25rem;
    }
}

.color-scheme-dark .dropdown-item {
    &:hover {
        background-color: var(--color-base-600);
    }

    &.disabled:hover,
    &:disabled:hover {
        background-color: transparent;
    }

    &.is-active:hover {
        background-color: var(--color-base-600);
    }
}

.dropdown-empty {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--color-base-300);
    cursor: default !important;
    font-size: var(--font-size-sm);
    white-space: nowrap;
}

.dropdown-separator {
    height: 0;
    border-top: 1px solid var(--color-base-500);
    margin: 0.25rem 0;
}

.dropdown-list .dropdown-item > .dropdown-thumb {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--border-radius);
    margin: -0.75rem 0.5rem -0.5rem 0;
    background-color: var(--color-base-700);
    object-fit: contain;
    vertical-align: middle;
}

.dropdown-list .dropdown-item > .icon {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
}
