.error-container {
    max-width: $error-container-max-width;
    padding: $error-container-padding;
    margin: $error-container-margin-v $error-container-margin-h;
    text-align: center;
}

.error-container h1 {
    color: $color-base-400;
    @include user-select-none;
}

.error-container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.error-code {
    display: block;
    font-size: 8rem;
    font-weight: 400;
}

.error-status {
    display: block;
    font-size: 1.75rem;
}

.error-container .action {
    font-size: $font-size-l;
}

.error-container .logo {
    width: 3.5rem;
    height: 3.5rem;
    margin: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
