.error-container {
    max-width: 32rem;
    padding: 1rem;
    margin: 4rem auto;
    text-align: center;
}

.error-container h1 {
    color: var(--color-base-400);
    @include user-select-none;
}

.error-container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.error-code {
    display: block;
    font-size: 8rem;
    font-weight: 400;
}

.error-status {
    display: block;
    font-size: 1.75rem;
}

.error-container .action {
    font-size: $font-size-lg;
}

.error-container .logo {
    width: 3.5rem;
    height: 3.5rem;
    margin: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* stylelint-disable-next-line selector-class-pattern */
.error-debug-details .__formwork-code {
    margin-right: 0;
    margin-left: 0;
}

.error-debug-details {
    max-width: 87.5rem;
    padding: 1.5rem 2rem;
    border-radius: $border-radius;
    margin: 0 auto 4rem;
    background-color: var(--color-white);
    text-align: left;
}

.error-debug-details h3 {
    font-size: 1.25rem;
}

.error-debug-editor-uri {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--color-base-500);
    text-decoration-style: dashed;
}

.error-debug-filename,
.error-debug-line {
    font-size: 0.875em;
}

.error-debug-filename {
    word-break: break-all;
}

.error-debug-line {
    color: var(--color-base-300);
}
