@use "mixins" as *;
@use "variables" as *;

.files-list {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    @include user-select-none;
}

.is-thumbnails .files-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-0.25rem);
}

.files-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-base-600);
    font-size: $font-size-sm;

    &:hover {
        background-color: var(--color-base-800);
    }
}

.files-item:first-child {
    border-top: 1px solid var(--color-base-600);
}

.files-item .dropdown {
    margin-bottom: 0;
}

.file-item-label {
    flex-grow: 1;
}

.file-icon {
    margin-right: 0.5rem;
}

.file-size {
    color: var(--color-base-300);
}

.is-thumbnails .files-item {
    position: relative;
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid var(--color-base-500);
    border-radius: $border-radius;
    margin: 0.25rem;

    &:active,
    &:focus-within {
        border-color: var(--color-accent-500);
        @include focusring;
    }
}

.file-thumbnail {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.is-thumbnails .file-thumbnail {
    display: block;
}

.is-thumbnails .file-item-label {
    position: absolute;
    right: 0.75rem;
    bottom: 0.5rem;
    left: 0.75rem;
    display: block;
    padding: 0 0.375rem;
    border-radius: $border-radius;
    background-color: var(--color-tooltip);
    font-size: $font-size-xs;
    text-align: center;
    @include user-select-none;
}

.is-thumbnails .dropdown {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.is-thumbnails .dropdown-button {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    background-color: var(--color-tooltip);

    &:hover,
    &:focus {
        background-color: var(--color-base-500);
        color: inherit;
    }
}

.is-thumbnails .file-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-base-500);
    font-size: 4rem;
    line-height: 0;
    transform: translate(-50%, -50%);
}

.is-thumbnails .file-thumbnail + .file-icon {
    display: none;
}
