@use "mixins" as *;
@use "variables" as *;

@use "sass:map";

.files-list {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    @include user-select-none;
}

.files-item {
    border-radius: 0;
    background-color: var(--color-base-600);
}

.files-list-headers {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid var(--color-base-600);
    border-bottom: 1px solid var(--color-base-700);
    color: var(--color-base-400);
    font-size: var(--font-size-xs);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @include user-select-none;
}

.files-headers-cell,
.files-item-cell {
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-sm);
}

.is-thumbnails .files-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-0.25rem);
}

.files-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border-bottom: 1px solid var(--color-base-750);
    font-size: var(--font-size-sm);
    transition: all var(--transition-time-sm);

    &:hover {
        background-color: var(--color-base-800);
        border-left: 2px solid var(--color-accent-500);
        padding-left: calc(0.75rem - 2px);
    }

    &:last-child {
        border-bottom: 0;
    }
}

.files-item .dropdown {
    margin-bottom: 0;
}

.file-icon {
    padding-right: 0.25rem;
}

.file-name {
    flex: 1;
    padding-left: 2rem;
}

.file-thumbnail:not([src]) ~ .file-name {
    padding-left: 0;
}

.file-parent {
    flex: 0 0 25%;
}

.file-date {
    flex: 0 0 15%;
    text-align: center;
}

.file-size {
    flex: 0 0 10%;
    text-align: center;
}

.file-actions {
    flex: 0 0 7.5%;
    text-align: right;
}

.is-thumbnails .files-item {
    width: calc(33.3% - 0.5rem);
    min-width: 5rem;
    max-width: 10rem;
    padding: 0.5rem;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin: 0.25rem;
    aspect-ratio: 1;

    @media (min-width: map.get($breakpoints, "xs")) {
        width: calc(25% - 0.5rem);
    }

    @media (min-width: map.get($breakpoints, "lg")) {
        width: calc(16.6% - 0.5rem);
    }

    &:active,
    &:focus-within {
        border-color: var(--color-accent-500);
        @include focusring;
    }
}

.is-thumbnails .file-name a {
    color: inherit;
}

.is-thumbnails .file-parent,
.is-thumbnails .file-date,
.is-thumbnails .file-size {
    display: none;
}

.file-thumbnail {
    position: absolute;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--color-base-700);
    object-fit: contain;
    pointer-events: none;
}

.file-thumbnail:not([src]) {
    display: none;
}

.file-thumbnail[src] ~ .file-icon {
    display: none;
}

.is-thumbnails .files-list-headers {
    display: none;
}

.is-thumbnails .file-thumbnail {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    border-radius: 0;
    background-color: transparent;
}

.is-thumbnails .file-name {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    display: block;
    max-width: calc(100% - 0.5rem);
    padding: 0 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--color-tooltip);
    font-size: var(--font-size-xs);
    text-align: center;
    transform: translateX(-50%);
    @include user-select-none;
}

.is-thumbnails .dropdown {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
}

.is-thumbnails .files-item:hover .dropdown,
.is-thumbnails .files-item:focus-within .dropdown {
    display: block;
}

.is-thumbnails .dropdown-button {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    background-color: var(--color-tooltip);

    &:hover,
    &:focus {
        background-color: var(--color-base-500);
        color: inherit;
    }
}

.is-thumbnails .file-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    color: var(--color-base-500);
    font-size: 4rem;
    line-height: 0;
    transform: translate(-50%, -50%);
}

.is-thumbnails .file-thumbnail + .file-icon {
    display: none;
}
