@use "variables" as *;

@use "sass:map";

.header {
    position: sticky;
    z-index: 9;
    top: 3.5rem;
    display: flex;
    min-height: 4.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-base-600);
    margin-bottom: 1rem;
    background-color: var(--color-base-800);
    white-space: nowrap;

    @media (min-width: map.get($breakpoints, "sm")) {
        padding: 0.5rem 1.5rem;
        margin-right: -1rem;
        margin-left: -1rem;
    }

    @media (min-width: map.get($breakpoints, "md")) {
        min-height: 5.5rem;
        margin-right: -1.5rem;
        margin-bottom: 1.75rem;
        margin-left: -1.5rem;
    }
}

.header-icon {
    align-self: center;
    margin-right: 0.375rem;
}

.header-title {
    overflow: hidden;
    flex-grow: 1;
    font-size: $font-size-h5;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}
