@use "sass:map";

.logo {
    margin-bottom: 2rem;
    color: $color-base-100;
    font-size: $font-size-h5;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    @media (min-width: map.get($breakpoints, "sm")) {
        text-align: left;
    }
}

.logo img {
    height: 1.5rem;
    margin-right: 0.25rem;
    vertical-align: -0.25rem;
}

.logo a {
    padding-top: $focusring-width;
    color: $color-base-100;
}
