.login-modal-container {
    max-width: 24rem;
    padding: 2rem;
    border-radius: $border-radius;
    margin: 3rem 0.5rem;
    background-color: var(--color-base-900);
    box-shadow: $box-shadow-sm;
}

@media (width >= 24rem) {
    .login-modal-container {
        margin: 3rem auto;
    }
}

.login-modal-info,
.login-modal-success,
.login-modal-warning,
.login-modal-danger {
    position: relative;
    padding: 1rem 2rem 1rem 3.5rem;
    margin: -2rem -2rem 1rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    a {
        display: block;
        color: var(--color-white);
        text-decoration: underline;
        @include ellipsis;
    }

    & .icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        display: block;
        transform: translate(0, -50%);
    }
}

.login-modal-info {
    background-color: var(--color-accent-500);
    color: var(--color-white);
}

.login-modal-success {
    background-color: var(--color-success-400);
    color: var(--color-white);
}

.login-modal-warning {
    background-color: var(--color-warning-500);
    color: var(--color-white);
}

.login-modal-danger {
    background-color: var(--color-danger-500);
    color: var(--color-white);
}
