@use "mixins" as *;

.login-container {
    max-width: 24rem;
    margin: 3rem 0.5rem;
}

.login-container .section {
    padding: 1.5rem 1.75rem;
}

@media (width >= 24rem) {
    .login-container {
        margin: 3rem auto;
    }
}

.login-notification-info,
.login-notification-success,
.login-notification-warning,
.login-notification-danger {
    position: relative;
    padding: 1rem 2rem 1rem 3.5rem;
    margin: -1.5rem -1.75rem 1rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    a {
        display: block;
        color: var(--color-white);
        text-decoration: underline;
        @include ellipsis;
    }

    & .icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        display: block;
        transform: translate(0, -50%);
    }
}

.login-notification-info {
    background-color: var(--color-accent-500);
    color: var(--color-white);
}

.login-notification-success {
    background-color: var(--color-success-400);
    color: var(--color-white);
}

.login-notification-warning {
    background-color: var(--color-warning-500);
    color: var(--color-white);
}

.login-notification-danger {
    background-color: var(--color-danger-500);
    color: var(--color-white);
}
