.modal-backdrop {
    position: fixed;
    z-index: 16;
    background-color: rgba($color-blue-100, 0.5);
    inset: 0;
}

.modal {
    position: fixed;
    z-index: 20;
    display: none;
    align-items: center;
    inset: 0;
    outline: 0;
}

.modal.show {
    display: flex;
}

.modal-header,
.modal-content,
.modal-footer {
    padding: 1rem 1.5rem;
}

.modal-text {
    text-wrap: balance;
}

.modal-header {
    border-bottom: 1px solid $color-base-600;
}

.modal-footer {
    border-top: 1px solid $color-base-600;
}

.modal-container {
    width: 26rem;
    max-width: 26rem;
    border: 1px solid $color-base-500;
    border-radius: $border-radius;
    margin: 3rem 0.5rem;
    background-color: $color-base-900;
    box-shadow: $box-shadow-lg;
    @media (width >= 26rem) {
        margin: 3rem auto;
    }
}

.modal-size-large {
    width: 48rem;
    max-width: 48em;
    @media (width <= 40rem) {
        margin: 3rem 0.5rem;
    }
}
