.notification-container {
    position: fixed;
    z-index: 14;
    top: 20px;
    right: 20px;
}

.notification {
    position: relative;
    overflow: hidden;
    width: 350px;
    padding: 1.5rem 2.5rem;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
    animation: fade-in-right 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $color-base-700;
    box-shadow: $box-shadow-md;
    cursor: default;
    text-overflow: ellipsis;
    transition:
        top $transition-time-md ease-in,
        opacity $transition-time-sm;

    &:hover {
        opacity: 0.95;
    }
}

.notification.fadeout {
    animation: fade-out-right 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.notification .icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
    transform: translate(0, -50%);
}

.notification-info,
.notification-success,
.notification-warning,
.notification-danger {
    padding-left: 2.5rem + 0.75rem;
}

.notification-info {
    background-color: $color-accent-500;
    color: $color-white;
}

.notification-success {
    background-color: $color-success-400;
    color: $color-white;
}

.notification-warning {
    background-color: $color-warning-500;
    color: $color-white;
}

.notification-danger {
    background-color: $color-danger-500;
    color: $color-white;
}
