.options-form .form-checkbox-label {
    margin-bottom: $form-input-margin-bottom;
    font-size: $font-size-m;
}

.info-data {
    width: 100%;
    margin-bottom: $info-data-margin-bottom;
    table-layout: fixed;
}

.info-data td {
    overflow: hidden;
    padding: $info-data-inner-padding;
    vertical-align: top;
}

.info-data-key {
    width: 25%;
}

.info-data-value {
    width: 75%;
    font-family: $mono-font-family;
    font-size: $font-size-s;
    word-break: break-word;
}
