@use "variables" as *;

.options-form .form-checkbox-label {
    margin-bottom: 0.5rem;
    font-size: $font-size-md;
}

.info-data {
    width: 100%;
    margin-bottom: 1rem;
    table-layout: fixed;
}

.info-data td {
    overflow: hidden;
    padding: 0.5rem;
    vertical-align: top;
}

.info-data-key {
    width: 25%;
}

.info-data-value {
    width: 75%;
    font-family: $mono-font-family;
    font-size: $font-size-sm;
    word-break: break-word;
}
