.page-details {
    flex: 1;
}

.page-title {
    padding: $focusring-width;
    margin: -$focusring-width;
    font-size: $font-size-m;
}

.page-route {
    color: $color-base-300;
    font-size: $font-size-s;
}

.page-route-changeable {
    padding: $focusring-width;
    margin: -$focusring-width;
}

.button .page-language {
    font-size: $font-size-xs;
}

.page-date {
    max-width: 20%;
    flex: 0 0 20%;
    text-align: center;
}

.page-status {
    flex: 0 0 20%;
    text-align: center;
}

.page-status .icon {
    display: inline-block;
    margin-right: $page-status-label-margin-right;
}

.page-status-published .icon {
    color: $color-success-500;
}

.page-status-not-published .icon {
    color: $color-error-500;
}

.page-status-not-routable .icon {
    color: $color-warning-500;
}

.page-actions {
    flex: 0 0 15%;
    text-align: center;
    white-space: nowrap;
}

.page-actions .button-link {
    font-size: $font-size-m;
}

.page-info {
    padding: $page-info-padding-v $page-info-padding-h;
    margin-bottom: $page-info-margin-bottom;
}

.page-slug-change {
    padding: 0;
    border-color: transparent;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: $color-base-300;
    cursor: pointer;

    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
        color: $color-base-300;
    }

    &:focus {
        @include focusring;
    }

    & .icon {
        display: inline-block;
        margin-right: 0;
        color: $color-base-100;
        opacity: 0;
        transition: opacity $transition-time-s;
    }

    &:hover .icon,
    &:focus .icon {
        opacity: 1;
    }
}

.is-dragging .page-title {
    pointer-events: none;
}

.pages-tree.is-filtered .pages-tree-item .page-details {
    padding-left: 0;
}
