.page-details {
    flex: 1;
}

.page-title {
    padding: $focusring-width;
    margin: -$focusring-width;
    font-size: $font-size-md;
}

.page-route {
    color: var(--color-base-300);
    font-size: $font-size-sm;
}

.page-route-changeable {
    padding: $focusring-width;
    margin: -$focusring-width;
}

.button .page-language {
    font-size: $font-size-xs;
}

.page-date {
    max-width: 20%;
    flex: 0 0 20%;
    text-align: center;
}

.page-status {
    flex: 0 0 20%;
    text-align: center;
}

.page-status .icon {
    display: inline-block;
    margin-right: 0.375rem;
}

.page-status-published .icon {
    color: var(--color-success-500);
}

.page-status-not-published .icon {
    color: var(--color-danger-500);
}

.page-status-not-routable .icon {
    color: var(--color-warning-500);
}

.page-actions {
    flex: 0 0 15%;
    text-align: center;
    white-space: nowrap;
}

.page-info {
    position: absolute;
    z-index: 8;
    display: none;
    padding: 0.5rem;
    border: 1px solid var(--color-base-500);
    border-radius: $border-radius;
    margin: 0.25rem 0 1rem;
    background-color: var(--color-base-900);
    box-shadow: $box-shadow-md;
}

.page-icon > .icon {
    vertical-align: -0.25rem;
}

.page-icon:hover .page-info {
    display: block;
}

.is-dragging .page-icon:hover .page-info {
    display: none;
}

.page-info-row {
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid var(--color-base-600);
    font-size: $font-size-sm;
}

.page-info-badges {
    padding: 0.5rem 0.25rem;
    font-size: $font-size-md;
    white-space: nowrap;
}

.page-languages {
    font-size: $font-size-md;
    white-space: nowrap;
}

.page-slug-change {
    padding: 0;
    border-color: transparent;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-base-300);
    cursor: pointer;

    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
        color: var(--color-base-300);
    }

    &:focus {
        @include focusring;
    }

    & .icon {
        display: inline-block;
        margin-right: 0;
        color: var(--color-base-100);
        opacity: 0;
        transition: opacity $transition-time-sm;
    }

    &:hover .icon,
    &:focus .icon {
        opacity: 1;
    }
}

.is-dragging .page-title {
    pointer-events: none;
}

.pages-tree.is-filtered .pages-tree-item .page-details {
    padding-left: 0;
}

.page-file-preview-container {
    display: flex;
    justify-content: center;
    background-color: var(--color-base-600);
}

.page-file-preview-link {
    cursor: zoom-in;
    line-height: 0;
}

.page-file-preview-image {
    max-height: 40.5rem;
    object-fit: contain;
    @include checkered-background(1.5rem, 0.125);
}

.page-file-info-entry-title {
    font-weight: 600;
}

.page-file-info-entry-uri {
    word-break: break-word;
}
