@use "sass:map";

.panel-header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: $panel-header-padding;
    padding-left: $panel-header-padding-left + $sidebar-toggle-width + 2 * $sidebar-toggle-left;
    background-color: $color-base-600;
    box-shadow: $component-box-shadow;
    color: $color-base-100;
    font-weight: 500;
    @include user-select-none;
    @media (min-width: map.get($responsive-breakpoints, "s")) {
        left: $sidebar-width;
        padding-left: $panel-header-padding-left;
    }
}

.panel-user-card {
    display: flex;
    align-items: center;
    margin-bottom: $panel-user-card-margin-bottom;
    cursor: pointer;
}

.panel-user-avatar {
    width: $panel-user-avatar-width;
}

.panel-user-avatar img {
    width: $panel-user-avatar-width;
    border-radius: $border-radius-round;
    transition: box-shadow $transition-time-m ease-out;

    .panel-user-card:hover & {
        box-shadow: 0 0 0 0.5rem $color-base-600;
    }
}

.panel-user-details {
    padding: $panel-user-details-padding-v $panel-user-details-padding-h;
}

.panel-user-fullname {
    color: $color-base-100;
}

.panel-user-username {
    color: $color-base-300;
    font-size: $font-size-s;
}

.panel-main {
    padding-top: $panel-main-margin-top;
    @media (min-width: map.get($responsive-breakpoints, "s")) {
        padding: $panel-main-margin;
        padding-top: $panel-main-margin-top;
        padding-left: $panel-main-margin-left;
    }
}
