@use "sass:map";

.panel-header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    padding-left: 1.5rem + 1rem + 2 * 0.75rem;
    background-color: var(--color-base-600);
    box-shadow: $box-shadow-sm;
    color: var(--color-base-100);
    font-weight: 500;
    @include user-select-none;
    @media (min-width: map.get($breakpoints, "md")) {
        left: 16rem;
        padding-left: 1.5rem;
    }
}

.panel-user-card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.panel-user-image {
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: $border-radius-round;
    background-color: var(--color-base-400);
    box-shadow: $box-shadow-sm;
    transition: box-shadow $transition-time-md ease-out;

    .panel-user-card:hover & {
        box-shadow: 0 0 0 0.5rem var(--color-base-600);
    }
}

.panel-user-image img {
    width: 100%;
    height: 100%;
}

.panel-user-details {
    padding: 0 0.75rem;
}

.panel-user-fullname {
    color: var(--color-base-100);
    font-weight: $headings-font-weight;
}

.panel-user-username {
    color: var(--color-base-300);
    font-size: $font-size-sm;
}

.panel-main {
    padding-top: 4rem;
    @media (min-width: map.get($breakpoints, "md")) {
        padding: 1.875rem;
        padding-top: 4rem;
        padding-left: 1.875rem + 16rem;
    }
}
