@use "mixins" as *;
@use "variables" as *;

@use "sass:map";

.section {
    padding: 1rem;
    margin-bottom: 0.75rem;
    background-color: transparent;

    @media (min-width: map.get($breakpoints, "sm")) {
        padding: 1rem 1.25rem;
    }
}

.section-header {
    margin-bottom: 0.75rem;
    font-size: var(--font-size-sm);
    font-weight: 600;
    @include user-select-none;
}

.section.collapsed .section-header {
    margin-bottom: 0;
}

.section-toggle {
    padding: 0;
    color: var(--color-base-300);
    cursor: pointer;
}

.section-toggle .icon {
    margin-right: 0;
    transition:
        transform var(--transition-time-sm),
        color var(--transition-time-sm);
}

.section.collapsed .section-toggle .icon {
    transform: rotate(180deg);
}

.section.collapsed .section-content {
    display: none;
}
