@use "sass:map";

.section {
    padding: 1.5rem 1.25rem;
    margin-bottom: 1rem;
    background-color: var(--color-base-900);
    box-shadow: $box-shadow-sm;

    @media (min-width: map.get($breakpoints, "sm")) {
        padding: 1.5rem 1.75rem;
        border-radius: $border-radius;
    }
}

.section-header {
    margin-bottom: 1rem;
    font-size: $font-size-md;
    font-weight: 600;
    @include user-select-none;
}

.section.collapsed .section-header {
    margin-bottom: 0;
}

.section-toggle {
    padding: 0;
    color: var(--color-base-300);
    cursor: pointer;
}

.section-toggle .icon {
    margin-right: 0;
    transition:
        transform $transition-time-sm,
        color $transition-time-sm;
}

.section.collapsed .section-toggle .icon {
    transform: rotate(180deg);
}

.section.collapsed .section-content {
    display: none;
}
