@use "mixins" as *;
@use "variables" as *;

@use "sass:map";

.sidebar {
    position: fixed;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16rem;
    padding: 1rem 1.5rem;
    background: linear-gradient(to bottom, #{var(--color-base-900)} 0%, #{var(--color-base-800)} 100%);
    background-color: var(--color-base-900);
    box-shadow:
        var(--box-shadow-lg),
        inset -1px 0 0 0 var(--color-base-600);

    @include user-select-none;

    @media (min-width: map.get($breakpoints, "md")) {
        box-shadow: inset -1px 0 0 0 var(--color-base-600);
    }

    .color-scheme-dark & {
        background: linear-gradient(to bottom, #{var(--color-base-800)} 0%, #{var(--color-base-700)} 100%);
        background-color: var(--color-base-800);
    }
}

.sidebar.show {
    display: block;
}

body:has(.sidebar.show) {
    overflow: hidden;
}

.sidebar-wrapper {
    height: calc(100% - 9rem);
    overflow-y: auto;
}

.sidebar-backdrop {
    position: fixed;
    z-index: 11;
    background-color: var(--color-backdrop);
    inset: 0;
}

.sidebar-toggle {
    position: fixed;
    z-index: 13;
    top: 0.75rem;
    left: 0.75rem;
    cursor: pointer;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style-type: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar-navigation > li {
    position: relative;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

.sidebar-navigation > li a {
    display: block;
    padding: 0.375rem 0.5rem;
    border-radius: var(--border-radius);
    margin: 0.5rem;
    color: var(--color-base-100);
    transition: background-color var(--transition-time-sm);
}

.sidebar-navigation > li:hover a {
    background-color: var(--color-base-700);

    .color-scheme-dark & {
        background-color: var(--color-base-600);
    }
}

.sidebar-navigation > li .icon {
    margin-right: 0.375rem;
    color: var(--color-base-300);
}

.sidebar-navigation > .active {
    font-weight: 600;
}

.sidebar-navigation > .active::before {
    position: absolute;
    top: 0.125rem;
    bottom: 0.125rem;
    left: 0;
    width: 3px;
    background-color: var(--color-accent-500);
    content: " ";
}

.sidebar-navigation > .active .icon {
    color: var(--color-base-100);
}
