.sidebar {
    position: fixed;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16rem;
    padding: 1rem 1.5rem;
    background: linear-gradient(to bottom, #{$color-base-900} 0%, #{$color-base-800} 100%);
    background-color: $color-base-900;
    box-shadow: $box-shadow-sm;
    @include user-select-none;
}

.sidebar.show {
    display: block;
}

.sidebar-wrapper {
    height: calc(100% - 9rem);
    overflow-y: auto;
}

.sidebar-backdrop {
    position: fixed;
    z-index: 11;
    background-color: rgba($color-blue-100, 0.5);
    inset: 0;
}

.sidebar-toggle {
    position: fixed;
    z-index: 13;
    top: 0.75rem;
    left: 0.75rem;
    cursor: pointer;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style-type: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar-navigation > li {
    position: relative;
    padding: 0.25rem 0;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.sidebar-navigation > li a {
    color: $color-base-100;
}

.sidebar-navigation > .active {
    font-weight: 600;
}

.sidebar-navigation > .active::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: $color-accent-500;
    content: " ";
}
