.sortable-handle .icon {
    display: inline-block;
    margin-bottom: 0;
    color: var(--color-base-300);
    cursor: grab;
}

.sortable-chosen,
.sortable-ghost {
    background-color: var(--color-base-900);
    cursor: grabbing;
}

.sortable-chosen * {
    cursor: grabbing;
}

.sortable-fallback {
    box-shadow: 0 0 0.75rem 0.25rem var(--color-shadow-lg);
}

.sortable-fallback::before,
.sortable-fallback::after {
    display: none;
}
