@use "variables" as *;

.spinner {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--color-accent-500);
    border-radius: $border-radius-round;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-right: 0.75rem;
    animation: 750ms spin infinite linear;
    text-align: center;
    transition: border 500ms;
    transition-timing-function: ease-out;
    vertical-align: -0.375rem;
}

.spinner .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-info {
    border-color: var(--color-accent-500);
    animation: none;
    color: var(--color-accent-500);
}

.spinner-success {
    border-color: var(--color-success-500);
    animation: none;
    color: var(--color-success-500);
}

.spinner-danger {
    border-color: var(--color-danger-500);
    animation: none;
    color: var(--color-danger-500);
}
