.tooltip {
    position: absolute;
    z-index: 20;
    display: none;
    min-width: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
    background-color: var(--color-tooltip-inverted);
    color: var(--color-base-900);
    font-size: $font-size-xs;
    pointer-events: none;
    text-align: center;
}

.tooltip .icon {
    min-width: auto;
    min-height: auto;
}
