.tooltip {
    position: absolute;
    z-index: 20;
    display: none;
    min-width: 2rem;
    max-width: 20rem;
    padding: 0.25rem 0.375rem;
    border-radius: $border-radius;
    background-color: var(--color-tooltip-inverted);
    box-shadow: $box-shadow-md;
    color: var(--color-base-900);
    cursor: default;
    font-size: $font-size-xs;
    @include user-select-none;
}

.tooltip .icon {
    transform: scale(0.75);
    vertical-align: -0.25rem;
}

.tooltip a {
    color: inherit;
    text-decoration: underline;
}
