h1,
.h1 {
    font-size: $font-size-h1;
    @extend %heading;
}

h2,
.h2 {
    font-size: $font-size-h2;
    @extend %heading;
}

h3,
.h3 {
    font-size: $font-size-h3;
    @extend %heading;
}

h4,
.h4 {
    font-size: $font-size-h4;
    @extend %heading;
}

h5,
.h5 {
    font-size: $font-size-h5;
    @extend %heading;
}

h6,
.h6 {
    font-size: $font-size-h6;
    @extend %heading;
}

%heading {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-weight: $headings-font-weight;
}

strong {
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: $base-line-height;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1.25rem;
    list-style-position: outside;
}

.text-bold {
    font-weight: 600;
}

.text-italic {
    font-style: italic;
}
