.user-summary {
    margin-top: 7.5rem;
    text-align: center;
}

.user-summary-image {
    margin-top: -7.5rem;
}

.user-summary-image img {
    width: 12rem;
    border-radius: $border-radius-round;
    background-color: $color-base-900;
    box-shadow: $box-shadow-sm;
}

.users-list {
    border-top: 1px solid $color-base-600;
    @include user-select-none;
}

.users-list-headers {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    font-size: $font-size-sm;
    font-weight: 600;
    @include user-select-none;
}

.users-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid $color-base-600;

    &:hover {
        background-color: $color-base-800;
    }
}

.users-item-cell,
.users-headers-cell {
    padding: 0.25rem 0.5rem;
}

.user-username {
    flex: 1;
}

.user-image {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: $box-shadow-sm;
    vertical-align: middle;
}

.user-fullname,
.user-email {
    max-width: 25%;
    flex: 0 0 25%;
    font-size: $font-size-sm;
}

.user-last-access {
    max-width: 20%;
    flex: 0 0 20%;
    font-size: $font-size-sm;
    text-align: center;
}

.user-actions {
    flex: 0 0 10%;
    text-align: center;
}
