.user-summary {
    margin-top: 7.5rem;
    text-align: center;
}

.user-summary-image {
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: $border-radius-round;
    margin: -7.5rem auto 0.5rem;
    background-color: var(--color-base-400);
    box-shadow: $box-shadow-sm;
}

.user-summary-image .dropdown {
    position: absolute;
    top: 0;
    right: -1.5rem;
}

.user-summary-image .dropdown-button {
    background-color: var(--color-tooltip);
}

.user-summary-image img {
    width: 12rem;
    height: 12rem;
    border-radius: $border-radius-round;
}

.users-list {
    border-top: 1px solid var(--color-base-600);
    @include user-select-none;
}

.users-list-headers {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    font-size: $font-size-sm;
    font-weight: 600;
    @include user-select-none;
}

.users-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-base-600);

    &:hover {
        background-color: var(--color-base-800);
    }
}

.users-item-cell,
.users-headers-cell {
    padding: 0.25rem 0.5rem;
}

.user-username {
    flex: 1;
}

.user-image {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-base-400);
    box-shadow: $box-shadow-sm;
    vertical-align: middle;
}

.user-fullname,
.user-email {
    max-width: 25%;
    flex: 0 0 25%;
    font-size: $font-size-sm;
}

.user-last-access {
    max-width: 20%;
    flex: 0 0 20%;
    font-size: $font-size-sm;
    text-align: center;
}

.user-actions {
    flex: 0 0 10%;
    text-align: center;
}
