@use "sass:map";

.user-summary {
    display: flex;
    align-items: center;
}

.user-summary-avatar {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    padding: $user-summary-cell-padding;
    text-align: center;
}

.user-summary-avatar img {
    width: $user-summary-avatar-width;
    border-radius: $user-summary-border-radius;
}

.user-summary-data {
    padding: $user-summary-cell-padding;
}

.users-list {
    border-top: 1px solid $color-base-600;
    @include user-select-none;
}

.users-list-headers {
    display: none;
    @include user-select-none;
}

.users-item {
    padding: $users-item-padding-v $users-item-padding-h;
    border-bottom: 1px solid $color-base-600;

    &:hover {
        background-color: $color-base-800;
    }
}

.users-item-cell,
.users-headers-cell {
    padding: $users-item-cell-padding-v-s $users-item-cell-padding-h-s;
    font-size: $font-size-s;
    @include ellipsis;
}

.user-username,
.user-fullname {
    display: inline-block;
}

.users-item .user-username {
    font-size: $font-size-m;
}

.user-last-access,
.user-actions {
    display: none;
}

.user-actions .button-link {
    font-size: $font-size-m;
}

.user-avatar {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
}

@media (min-width: map.get($responsive-breakpoints, "xs")) {
    .users-item,
    .users-list-headers {
        display: flex;
        align-items: center;
    }

    .users-list-headers {
        padding: $users-list-headers-padding-v $users-list-headers-padding-h;
        font-weight: 600;
    }

    .users-item-cell,
    .users-headers-cell {
        display: block;
        padding: $users-item-cell-padding-v-l $users-item-cell-padding-h-l;
    }

    .user-username,
    .user-last-access {
        max-width: 20%;
        flex: 0 0 20%;
    }

    .user-fullname,
    .user-email {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .user-last-access,
    .user-actions {
        text-align: center;
    }

    .user-actions {
        max-width: 10%;
        flex: 0 0 10%;
    }
}
