@use "mixins" as *;

.user-summary {
    margin-top: 7.5rem;
    text-align: center;
}

.user-summary-image {
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: -7.5rem auto 0.5rem;
    background-color: var(--color-base-400);
    box-shadow: var(--box-shadow-sm);
}

.user-summary-image .dropdown {
    position: absolute;
    top: 0;
    right: -1.5rem;
}

.user-summary-image .dropdown-button {
    background-color: var(--color-tooltip);
}

.user-summary-image img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.users-list {
    border-top: 1px solid var(--color-base-600);
    @include user-select-none;
}

.users-list-headers {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    font-size: var(--font-size-sm);
    font-weight: 600;
    @include user-select-none;
}

.users-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--color-base-600);
    font-size: var(--font-size-sm);

    &:hover {
        background-color: var(--color-base-800);

        .color-scheme-dark & {
            background-color: var(--color-base-700);
        }
    }
}

.users-item-cell,
.users-headers-cell {
    padding: 0.25rem 0.5rem;
}

.user-image {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-base-400);
    box-shadow: var(--box-shadow-sm);
}

.user-fullname {
    display: flex;
    flex: 1.5;
    align-items: center;
    gap: 0.5rem;
}

.user-username,
.user-email {
    flex: 1;
}

.user-last-access {
    flex: 1;
    text-align: center;
}

.user-actions {
    flex: 0 0 10%;
    text-align: right;
    white-space: nowrap;
}
