@use "sass:color";

// ===
// Colors
// ===

$color-base-100: $color-gray-100 !default;
$color-base-200: $color-gray-200 !default;
$color-base-300: $color-gray-300 !default;
$color-base-400: $color-gray-400 !default;
$color-base-500: $color-gray-500 !default;
$color-base-600: $color-gray-600 !default;
$color-base-700: $color-gray-700 !default;
$color-base-800: $color-gray-800 !default;
$color-base-900: $color-gray-900 !default;

$color-accent-100: $color-blue-100;
$color-accent-200: $color-blue-200;
$color-accent-300: $color-blue-300;
$color-accent-400: $color-blue-400;
$color-accent-500: $color-blue-500;
$color-accent-600: $color-blue-600;
$color-accent-700: $color-blue-700;
$color-accent-800: $color-blue-800;
$color-accent-900: $color-blue-900;

$color-success-100: $color-green-100;
$color-success-200: $color-green-200;
$color-success-300: $color-green-300;
$color-success-400: $color-green-400;
$color-success-500: $color-green-500;
$color-success-600: $color-green-600;
$color-success-700: $color-green-700;
$color-success-800: $color-green-800;
$color-success-900: $color-green-900;

$color-warning-100: $color-amber-100;
$color-warning-200: $color-amber-200;
$color-warning-300: $color-amber-300;
$color-warning-400: $color-amber-400;
$color-warning-500: $color-amber-500;
$color-warning-600: $color-amber-600;
$color-warning-700: $color-amber-700;
$color-warning-800: $color-amber-800;
$color-warning-900: $color-amber-900;

$color-danger-100: $color-red-100;
$color-danger-200: $color-red-200;
$color-danger-300: $color-red-300;
$color-danger-400: $color-red-400;
$color-danger-500: $color-red-500;
$color-danger-600: $color-red-600;
$color-danger-700: $color-red-700;
$color-danger-800: $color-red-800;
$color-danger-900: $color-red-900;

$font-colors: (
    "blue": $color-blue-500,
    "green": $color-green-400,
    "yellow": $color-yellow-500,
    "amber": $color-amber-500,
    "red": $color-red-500,
    "purple": $color-purple-500,
    "accent": $color-accent-500,
    "gray-dark": $color-base-200,
    "gray-medium": $color-base-300,
    "gray-light": $color-base-500,
    "success": $color-success-500,
    "warning": $color-warning-500,
    "danger": $color-danger-500,
);

// ===
// Common values
// ===

$breakpoints: (
    xs: 600px,
    sm: 768px,
    md: 1024px,
    lg: 1280px,
);

$spacers: (
    0: 0,
    1: 0.125rem,
    2: 0.25rem,
    3: 0.375rem,
    4: 0.5rem,
    5: 0.625rem,
    6: 0.75rem,
    7: 0.875rem,
    8: 1rem,
    9: 1.5rem,
    10: 2rem,
);

$columns-count: 12;
$columns-gutter: 30px;

$border-radius: 4px;
$border-radius-round: 50%;

$selection-background-color: rgba($color-accent-500, 0.25);

$focusring-width: 2px;
$focusring-opacity: 0.375;
$focusring-default-color: color.adjust($color-accent-500, $saturation: 21%);

$transition-time-sm: 150ms;
$transition-time-md: 300ms;

$caret-width: 0.25rem;

$box-shadow-sm:
    0 0.0625rem 0.125rem rgba($color-accent-100, 5%),
    0 0.0625rem 0.25rem rgba($color-accent-100, 5%),
    0 0.125rem 0.5rem rgba($color-accent-100, 5%);

$box-shadow-md:
    0 0.0625rem 0.25rem rgba($color-accent-100, 10%),
    0.125rem 0.25rem 0.375rem rgba($color-accent-100, 10%),
    0.125rem 0.5rem 0.75rem rgba($color-accent-100, 10%);

$box-shadow-lg:
    0.125rem 0.125rem 0.5rem rgba($color-accent-100, 15%),
    0.125rem 0.25rem 0.5rem rgba($color-accent-100, 15%),
    0.5rem 0.5rem 1rem rgba($color-accent-100, 15%);

// ===
// Typography
// ===

$base-font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
$mono-font-family: "SFMono-Regular", "SF Mono", "Cascadia Mono", "Liberation Mono", "Menlo", "Consolas", monospace;

$base-font-size: 100%;
$base-line-height: 1.5;

$font-sizes: (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "md": 1rem,
    "lg": 1.5rem,
    "xl": 2rem,
    "xxl": 3rem,
);

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

// Typographic scale – 1.2 Minor third
$font-size-h1: 2.49rem;
$font-size-h2: 2.07rem;
$font-size-h3: 1.73rem;
$font-size-h4: 1.44rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1rem;

$headings-line-height: 1.2;
$headings-font-weight: 500;
