.input-file {
    display: none;
}

.input-file-label {
    display: block;
    padding: $input-file-label-padding;
    margin-bottom: $input-file-label-margin-bottom;
    background-color: $color-base-800;
    clear: both;
}

.input-file-label > span {
    display: block;
    padding: $input-file-label-inner-padding-v $input-file-label-inner-padding-h;
    border: $input-file-label-inner-border-width dashed $color-base-500;
    color: $color-base-100;
    text-align: center;
    transition: background-color $transition-time-m;
}

.input-file-label.drag > span {
    background-color: $color-base-900;
}
