.input-array {
    margin-bottom: $input-array-margin-bottom;
    @include user-select-none;
}

.input-array .sort-handle .icon {
    vertical-align: middle;
}

.input-array-row {
    display: flex;
    margin: 0 (-$input-array-row-padding-h);
    padding: $input-array-row-padding-v $input-array-row-padding-h;
    white-space: nowrap;
}

.input-array-key,
.input-array-value {
    display: inline-block;
    margin-bottom: 0;
}

.input-array-key {
    margin-right: $input-array-key-margin-right;
    width: $input-array-key-width;
}

.input-array-value {
    margin-right: $input-array-value-margin-right;
}

.input-array-add,
.input-array-remove {
    margin-right: $input-array-actions-margin-right;
    padding: 0;
    min-width: 1rem;
}
